.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background-color: #FEFEFE;
  background-image: url('http://churchamp/wp-content/uploads/2013/01/main-bg.png');
  background-position: center top;
  background-repeat: repeat;
  background-attachment: fixed;
}
body.gradient {
  background-color: #f2f2f2;
  background-image: -moz-linear-gradient(top,#FEFEFE,#dfdfdf);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#FEFEFE),to(#dfdfdf));
  background-image: -webkit-linear-gradient(top,#FEFEFE,#dfdfdf);
  background-image: -o-linear-gradient(top,#FEFEFE,#dfdfdf);
  background-image: linear-gradient(to bottom,#FEFEFE,#dfdfdf);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffefefe', endColorstr='#ffdfdfdf', GradientType=0);
}
.wrap {
  overflow: visible;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0;
  padding-right: 0;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
  background-image: none;
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: scroll;
  -webkit-border-top-left-radius: 0px;
  -moz-border-radius-topleft: 0px;
  border-top-left-radius: 0px;
  -webkit-border-top-right-radius: 0px;
  -moz-border-radius-topright: 0px;
  border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  border-bottom-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -moz-border-radius-bottomleft: 0px;
  border-bottom-left-radius: 0px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.wrap.gradient {
  background-color: #f3f3f3;
  background-image: -moz-linear-gradient(top,#FFFFFF,#e0e0e0);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#FFFFFF),to(#e0e0e0));
  background-image: -webkit-linear-gradient(top,#FFFFFF,#e0e0e0);
  background-image: -o-linear-gradient(top,#FFFFFF,#e0e0e0);
  background-image: linear-gradient(to bottom,#FFFFFF,#e0e0e0);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe0e0e0', GradientType=0);
}
.banner {
  display: block;
  height: auto;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  background-color: #763501;
  background-image: url('http://churchamp/wp-content/uploads/2013/01/mosaic-tiles.png');
  background-position: center top;
  background-repeat: repeat;
  background-attachment: fixed;
  -webkit-border-top-left-radius: 0px;
  -moz-border-radius-topleft: 0px;
  border-top-left-radius: 0px;
  -webkit-border-top-right-radius: 0px;
  -moz-border-radius-topright: 0px;
  border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  border-bottom-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -moz-border-radius-bottomleft: 0px;
  border-bottom-left-radius: 0px;
  -webkit-box-shadow: inset 0px 0px 15px 5px rgba(0,0,0,0.15);
  -moz-box-shadow: inset 0px 0px 15px 5px rgba(0,0,0,0.15);
  box-shadow: inset 0px 0px 15px 5px rgba(0,0,0,0.15);
}
.banner.gradient {
  background-color: #9a4501;
  background-image: -moz-linear-gradient(top,#b35002,#763501);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#b35002),to(#763501));
  background-image: -webkit-linear-gradient(top,#b35002,#763501);
  background-image: -o-linear-gradient(top,#b35002,#763501);
  background-image: linear-gradient(to bottom,#b35002,#763501);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffb25001', endColorstr='#ff763501', GradientType=0);
}
.masthead {
  display: block;
  height: 55px;
  padding-top: 30px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
  background-image: none;
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-border-top-left-radius: 0px;
  -moz-border-radius-topleft: 0px;
  border-top-left-radius: 0px;
  -webkit-border-top-right-radius: 0px;
  -moz-border-radius-topright: 0px;
  border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  border-bottom-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -moz-border-radius-bottomleft: 0px;
  border-bottom-left-radius: 0px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.masthead .brand {
  height: 55px;
  display: block;
  float: left;
  max-width: 100%;
  line-height: 55px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 45px;
  font-weight: bold;
}
.masthead .brand a {
  display: block;
  color: #222222;
}
.masthead .brand a:hover {
  text-decoration: none;
}
.masthead .brand span.brand_font_text {
  float: left;
}
.masthead .brand img {
  float: left;
}
.masthead.gradient {
  background-color: #c0c0c0;
  background-image: -moz-linear-gradient(top,#CCCCCC,#adadad);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#CCCCCC),to(#adadad));
  background-image: -webkit-linear-gradient(top,#CCCCCC,#adadad);
  background-image: -o-linear-gradient(top,#CCCCCC,#adadad);
  background-image: linear-gradient(to bottom,#CCCCCC,#adadad);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffcccccc', endColorstr='#ffadadad', GradientType=0);
}
.leaderboard {
  height: 55px;
  display: block;
  float: right;
  max-width: 100%;
  line-height: 55px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 45px;
  font-weight: bold;
}
.leaderboard a img,
.leaderboard img {
  float: right;
  padding: 10px 30px;
}
.leaderboard a {
  color: #222222;
}
.leaderboard a:hover {
  text-decoration: none;
}
.nav-social {
  float: right;
  margin: 0;
  padding: 0;
}
.nav-social a {
  background: #005e5b;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  position: relative;
  margin: 4px;
  padding: 4px;
  width: 34px;
  height: 34px;
  display: inline-block;
  -webkit-box-shadow: inset 0 2px 0 0 rgba(255,255,255,.25), 0 0 2px 0px rgba(0,0,0,.25);
  -moz-box-shadow: inset 0 2px 0 0 rgba(255,255,255,.25), 0 0 2px 0px rgba(0,0,0,.25);
  box-shadow: inset 0 2px 0 0 rgba(255,255,255,.25), 0 0 2px 0px rgba(0,0,0,.25);
}
.nav-social a span {
  font-size: 24px;
  line-height: 24px;
  padding: 4px 5px;
  margin: 0;
  color: #FFF;
  vertical-align: middle;
  position: relative;
  top: -10px;
}
.nav-social a.rss span {
  font-size: 18px;
  left: 3px;
}
.nav-social a:hover {
  text-decoration: none;
  background: #fff;
  border: 2px solid #005e5b;
  padding: 2px;
}
.nav-social a:hover span {
  color: #005e5b;
}
body.admin-bar .navbar-fixed-top.affix {
  top: 28px !important;
}
.navbar.affix .navbar-inner,
.navbar-fixed-top.affix .navbar-inner,
.navbar-fixed-bottom.affix .navbar-inner {
  -webkit-border-top-left-radius: 0px;
  -moz-border-radius-topleft: 0px;
  border-top-left-radius: 0px;
  -webkit-border-top-right-radius: 0px;
  -moz-border-radius-topright: 0px;
  border-top-right-radius: 0px;
}
.navbar.affix .navbar-inner.container,
.navbar-fixed-top.affix .navbar-inner.container,
.navbar-fixed-bottom.affix .navbar-inner.container {
  width: 100%;
}
.navbar-inner {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.15);
  box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.15);
}
.navbar-fixed-top .navbar-inner,
.navbar-static-top .navbar-inner {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.15);
  box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.15);
  border-width: 0px;
}
.navbar nav {
  margin-left: 0px;
  margin-right: 0px;
}
.nav,
.navbar {
  margin-bottom: 0;
}
.navbar .navbar-inner,
.navbar-fixed-top .navbar-inner,
.navbar-fixed-bottom .navbar-inner,
.navbar-static-top .navbar-inner {
  -webkit-border-top-left-radius: 6px;
  -moz-border-radius-topleft: 6px;
  border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-topright: 6px;
  border-top-right-radius: 6px;
  -webkit-border-bottom-right-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  border-bottom-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -moz-border-radius-bottomleft: 0px;
  border-bottom-left-radius: 0px;
  min-height: 40px;
}
.navbar-transparent .navbar-inner {
  background-image: none;
  background-color: transparent;
  border-color: none;
}
.navbar-pos-btm.affix-top,
.navbar-pos-top.affix-top {
  position: relative;
}
.navbar .brand {
  height: 40px;
  display: block;
  float: left;
  max-width: 100%;
  padding: 0;
  margin-left: 0;
}
.navbar .brand img.brand_logo {
  height: 30px;
  max-width: 100%;
  display: block;
  float: left;
  vertical-align: text-top;
  padding: 5px 25px 5px 0;
}
.navbar .brand img.brand_mark {
  padding-right: 20px;
}
.navbar .brand .brand_font_text {
  line-height: 28px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 28px;
  font-weight: bold;
  display: block;
  float: left;
  vertical-align: text-bottom;
  padding: 6px 15px;
  padding-left: 0;
}
.navbar-fixed-top.affix-top .brand,
.navbar-static-top .brand {
  display: none;
}
.navbar-fixed-top.affix .brand {
  display: block;
}
.navbar .nav > li > a {
  font-size: 14px;
  line-height: 14px;
  padding: 15px 15px 11px;
}
.navbar .nav > .active > a,
.navbar.navbar-pos-top .nav > .active > a,
.navbar.affix .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar.navbar-pos-top .nav > .active > a:hover,
.navbar.affix .nav > .active > a:hover,
.navbar .nav > .active > a:focus,
.navbar.navbar-pos-top .nav > .active > a:focus,
.navbar.affix .nav > .active > a:focus {
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
}
.navbar.navbar-pos-top .nav > li > a,
.navbar.affix .nav > li > a {
  border-top: none;
  border-bottom: none;
}
.navbar .nav-pills > li > a {
  padding: 6.5px 15px 6.5px;
  margin: 7.5px 0 6.5px;
}
.navbar .nav-pills > .active > a,
.navbar .nav-pills > .active > a:hover,
.navbar .nav-pills > .active > a:focus {
  padding: 6.5px 15px 6.5px;
  margin: 6.5px 0 6.5px;
}
.navbar.navbar-tabs .navbar-inner,
.navbar.navbar-tabs.gradient .navbar-inner {
  background: transparent;
}
.navbar .nav-tabs {
  border-bottom: none;
  height: 45px;
  margin-top: -5px;
}
.navbar .nav-tabs > li > a {
  padding: 13px 15px 11px;
  margin: 5px 0 0 0;
  -webkit-border-radius: 7px 7px 0 0;
  -moz-border-radius: 7px 7px 0 0;
  border-radius: 7px 7px 0 0;
  position: relative;
}
.navbar.navbar-tabs.transparent .nav-tabs li a {
  border: none;
}
.navbar .nav-tabs > .active > a,
.navbar .nav-tabs > .active > a:hover,
.navbar .nav-tabs > .active > a:focus {
  margin-top: 0;
  padding: 18px 15px 13px;
  background-color: transparent;
  background-image: none;
  background-repeat: no-repeat;
}
.navbar-pos-top .nav-tabs,
.navbar-pos-btm.affix .nav-tabs {
  height: 40px;
  margin-top: 0;
}
.navbar-pos-top .nav-tabs > li > a,
.navbar-pos-btm.affix .nav-tabs > li > a {
  margin: 0;
  padding: 13px 15px 13px;
  -webkit-border-radius: 0 0 0 0;
  -moz-border-radius: 0 0 0 0;
  border-radius: 0 0 0 0;
}
.navbar-pos-top .nav-tabs > .active > a,
.navbar-pos-top .nav-tabs > .active > a:hover,
.navbar-pos-top .nav-tabs > .active > a:focus,
.navbar-pos-btm.affix .nav-tabs > .active > a,
.navbar-pos-btm.affix .nav-tabs > .active > a:hover
.navbar-pos-btm.affix .nav-tabs > .active > a:focus {
  padding: 13px 15px 13px;
}
.navbar-pos-top .nav-tabs > .active > a:before,
.navbar-pos-top .nav-tabs > .active > a:hover:before,
.navbar-pos-top .nav-tabs > .active > a:focus:before,
.navbar-pos-btm.affix .nav-tabs > .active > a:before,
.navbar-pos-btm.affix .nav-tabs > .active > a:hover
.navbar-pos-btm.affix .nav-tabs > .active > a:focus:before {
  content: '';
  display: block;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 11px solid #ccc;
  position: absolute;
  bottom: -11px;
  left: 50%;
  margin-left: -30px;
}
.navbar-pos-top .nav-tabs > .active > a:after,
.navbar-pos-top .nav-tabs > .active > a:hover:after,
.navbar-pos-top .nav-tabs > .active > a:focus:after,
.navbar-pos-btm.affix .nav-tabs > .active > a:after,
.navbar-pos-btm.affix .nav-tabs > .active > a:hover
.navbar-pos-btm.affix .nav-tabs > .active > a:focus:after {
  content: '';
  display: block;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 11px solid #fff;
  position: absolute;
  bottom: -10px;
  left: 50%;
  margin-left: -30px;
}
.navbar-fixed-top.navbar-tabs .navbar-inner,
.navbar-static-top.navbar-tabs .navbar-inner {
  -webkit-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.15);
  box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.15);
}
.navbar .navbar-inner {
  background-color: #5b2c03;
  background-image: url('./../img/patterns-sheer/patdark-15.png');
  background-position: center top;
  background-repeat: repeat;
  background-attachment: scroll;
}
.navbar .brand .brand_font_text {
  color: #555555;
}
.navbar .nav > li > a {
  text-shadow: 0 0 1px #ffffff;
}
.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
  text-shadow: 0 0 1px #999999;
}
.navbar .nav > .active > a:focus {
  color: #000000;
}
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  text-shadow: 0 0 1px #cccccc;
  background-color: #CCCCCC;
  font-weight: bold;
  border-color: #D4D4D4;
}
.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
  text-shadow: 0 0 1px #cccccc;
  border-color: #D4D4D4;
}
.navbar .nav li.dropdown > .dropdown-toggle .caret {
  border-top-color: #777777;
  border-bottom-color: #777777;
}
.navbar .nav li.dropdown > .dropdown-toggle:focus .caret,
.navbar .nav li.dropdown > .dropdown-toggle:hover .caret {
  border-top-color: #000000;
  border-bottom-color: #000000;
}
.navbar .nav li.dropdown.active > .dropdown-toggle .caret,
.navbar .nav li.dropdown.active > .dropdown-toggle:hover .caret,
.navbar .nav li.dropdown.active > .dropdown-toggle:focus .caret {
  border-top-color: #333333;
  border-bottom-color: #333333;
}
.navbar .nav-pills > .active > a,
.navbar .nav-pills > .active > a:hover,
.navbar .nav-pills > .active > a:focus {
  border: 1px solid #D4D4D4;
}
.navbar .nav-tabs > li > a {
  background-color: #5b2c03;
  background-image: url('./../img/patterns-sheer/patdark-15.png');
  background-position: center top;
  background-repeat: repeat;
  background-attachment: scroll;
  border: 1px solid #D4D4D4;
}
.navbar .nav-tabs > li > a:focus,
.navbar .nav-tabs > li > a:hover {
  background-color: transparent;
  border-color: transparent;
}
.navbar .nav-tabs > .active > a,
.navbar .nav-tabs > .active > a:hover,
.navbar .nav-tabs > .active > a:focus {
  background-color: transparent;
  background-image: none;
  background-repeat: no-repeat;
  border-color: rgba(0,0,0,0);
  -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,0.125);
  -moz-box-shadow: inset 0 3px 7px rgba(0,0,0,0.125);
  box-shadow: inset 0 3px 7px rgba(0,0,0,0.125);
  color: #333333;
}
.navbar .nav-tabs li.dropdown.open > .dropdown-toggle,
.navbar .nav-tabs li.dropdown.active > .dropdown-toggle,
.navbar .nav-tabs li.dropdown.open.active > .dropdown-toggle {
  color: #000000;
}
.navbar .nav-tabs li.dropdown.open > .dropdown-toggle .caret,
.navbar .nav-tabs li.dropdown.active > .dropdown-toggle .caret,
.navbar .nav-tabs li.dropdown.open.active > .dropdown-toggle .caret {
  border-top-color: #000000;
  border-bottom-color: #000000;
}
.navbar.navbar-pos-btm .nav-tabs > .active > a,
.navbar.navbar-pos-btm .nav-tabs > .active > a:hover {
  border-bottom: none;
}
.navbar.navbar-pos-top .navbar-inner,
.navbar.navbar-pos-btm.affix .navbar-inner {
  background-color: #DDDDDD;
  background-image: url('./../img/patterns-sheer/patdark-15.png');
  background-position: center top;
  background-repeat: repeat;
  background-attachment: scroll;
  margin-left: 0;
  margin-right: 0;
  border-bottom: 1px solid #D4D4D4;
}
.navbar.navbar-pos-top .nav-tabs,
.navbar.navbar-pos-btm.affix .nav-tabs {
  border-left: 1px solid #f4f4f4;
  border-right: 1px solid #bebebe;
}
.navbar.navbar-pos-top .nav-tabs > li > a,
.navbar.navbar-pos-btm.affix .nav-tabs > li > a {
  border-left: 1px solid #bebebe;
  border-right: 1px solid #f4f4f4;
}
.navbar.navbar-pos-top .nav-tabs > li > a:focus,
.navbar.navbar-pos-top .nav-tabs > li > a:hover,
.navbar.navbar-pos-btm.affix .nav-tabs > li > a:focus,
.navbar.navbar-pos-btm.affix .nav-tabs > li > a:hover {
  border-color: transparent;
}
.navbar.navbar-pos-top .nav-tabs > .active > a,
.navbar.navbar-pos-top .nav-tabs > .active > a:hover,
.navbar.navbar-pos-btm.affix .nav-tabs > .active > a,
.navbar.navbar-pos-btm.affix .nav-tabs > .active > a:hover {
  background: #CCCCCC;
  border-color: #CCCCCC;
  border-top: none;
  color: #333333;
}
.navbar.navbar-pos-top .nav-tabs > .active > a:before,
.navbar.navbar-pos-top .nav-tabs > .active > a:hover:before,
.navbar.navbar-pos-btm.affix .nav-tabs > .active > a:before,
.navbar.navbar-pos-btm.affix .nav-tabs > .active > a:hover:before {
  border-top-color: #D4D4D4;
  border-bottom-color: #D4D4D4;
}
.navbar.navbar-pos-top .nav-tabs > .active > a:after,
.navbar.navbar-pos-top .nav-tabs > .active > a:hover:after,
.navbar.navbar-pos-btm.affix .nav-tabs > .active > a:after,
.navbar.navbar-pos-btm.affix .nav-tabs > .active > a:hover:after {
  border-top-color: #CCCCCC;
}
.navbar.navbar-pos-top.transparent .navbar-inner,
.navbar.navbar-pos-btm.affix.transparent .navbar-inner,
.navbar.navbar-pos-top.navbar-tabs .navbar-inner,
.navbar.navbar-pos-btm.affix.navbar-tabs .navbar-inner {
  background-color: #DDDDDD;
  background-image: url('./../img/patterns-sheer/patdark-15.png');
  background-position: center top;
  background-repeat: repeat;
  background-attachment: scroll;
}
.navbar.navbar-pos-top.gradient .navbar-inner,
.navbar.navbar-pos-btm.affix.gradient .navbar-inner {
  background-color: #b8a695;
  background-image: -moz-linear-gradient(top,#f7f7f7,#5b2c03);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#f7f7f7),to(#5b2c03));
  background-image: -webkit-linear-gradient(top,#f7f7f7,#5b2c03);
  background-image: -o-linear-gradient(top,#f7f7f7,#5b2c03);
  background-image: linear-gradient(to bottom,#f7f7f7,#5b2c03);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff6f6f6', endColorstr='#ff5b2c03', GradientType=0);
}
.navbar.gradient .navbar-inner {
  background-color: #b8a695;
  background-image: -moz-linear-gradient(top,#f7f7f7,#5b2c03);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#f7f7f7),to(#5b2c03));
  background-image: -webkit-linear-gradient(top,#f7f7f7,#5b2c03);
  background-image: -o-linear-gradient(top,#f7f7f7,#5b2c03);
  background-image: linear-gradient(to bottom,#f7f7f7,#5b2c03);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff6f6f6', endColorstr='#ff5b2c03', GradientType=0);
}
.navbar.gradient .nav-tabs > li > a {
  background-color: #b8a695;
  background-image: -moz-linear-gradient(top,#f7f7f7,#5b2c03);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#f7f7f7),to(#5b2c03));
  background-image: -webkit-linear-gradient(top,#f7f7f7,#5b2c03);
  background-image: -o-linear-gradient(top,#f7f7f7,#5b2c03);
  background-image: linear-gradient(to bottom,#f7f7f7,#5b2c03);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff6f6f6', endColorstr='#ff5b2c03', GradientType=0);
}
.navbar.gradient .nav-tabs > li > a:focus,
.navbar.gradient .nav-tabs > li > a:hover {
  background: transparent;
}
.navbar.gradient .nav-tabs > .active > a:focus {
  background-color: transparent;
  background-image: none;
  background-repeat: no-repeat;
  border-color: rgba(0,0,0,0);
  -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,0.125);
  -moz-box-shadow: inset 0 3px 7px rgba(0,0,0,0.125);
  box-shadow: inset 0 3px 7px rgba(0,0,0,0.125);
  color: #333333;
}
.navbar.textshadow-no .brand,
.navbar.textshadow-no .nav > li > a,
.navbar.textshadow-no .nav > li > a:focus,
.navbar.textshadow-no .nav > li > a:hover,
.navbar.textshadow-no .nav > .active > a,
.navbar.textshadow-no .nav > .active > a:hover,
.navbar.textshadow-no .nav > .active > a:focus,
.navbar.textshadow-no .nav li.dropdown.open > .dropdown-toggle,
.navbar.textshadow-no .nav li.dropdown.active > .dropdown-toggle,
.navbar.textshadow-no .nav li.dropdown.open.active > .dropdown-toggle {
  text-shadow: none;
}
.navbar.vertdividers .nav > li > a {
  border-left: 1px solid #f4f4f4;
  border-right: 1px solid #bebebe;
}
.navbar.vertdividers ul.nav {
  border-left: 1px solid #bebebe;
  border-right: 1px solid #f4f4f4;
}
.navbar.vertdividers .nav > .active > a,
.navbar.vertdividers .nav > .active > a:hover,
.navbar.vertdividers .nav > .active > a:focus {
  border-color: #D4D4D4;
}
.navbar-inverse .navbar-inner {
  background-color: #5b2c03;
  background-image: url('./../img/patterns-sheer/patdark-15.png');
  background-position: center top;
  background-repeat: repeat;
  background-attachment: scroll;
}
.navbar-inverse .brand .brand_font_text {
  color: #ffffff;
}
.navbar-inverse .nav > li > a {
  text-shadow: 0 0 1px #ffffff;
}
.navbar-inverse .nav > li > a:focus,
.navbar-inverse .nav > li > a:hover {
  text-shadow: 0 0 1px #ffffff;
}
.navbar-inverse .nav > .active > a:focus {
  color: #FFFFFF;
}
.navbar-inverse .nav > .active > a,
.navbar-inverse .nav > .active > a:hover,
.navbar-inverse .nav > .active > a:focus {
  text-shadow: 0 0 1px #ffffff;
  background-color: #005e5b;
  font-weight: bold;
  border-color: #472504;
}
.navbar-inverse .nav li.dropdown.open > .dropdown-toggle,
.navbar-inverse .nav li.dropdown.active > .dropdown-toggle,
.navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle {
  text-shadow: 0 0 1px #ffffff;
  border-color: #472504;
}
.navbar-inverse .nav li.dropdown > .dropdown-toggle .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
.navbar-inverse .nav li.dropdown > .dropdown-toggle:focus .caret,
.navbar-inverse .nav li.dropdown > .dropdown-toggle:hover .caret {
  border-top-color: #FFFFFF;
  border-bottom-color: #FFFFFF;
}
.navbar-inverse .nav li.dropdown.active > .dropdown-toggle .caret,
.navbar-inverse .nav li.dropdown.active > .dropdown-toggle:hover .caret,
.navbar-inverse .nav li.dropdown.active > .dropdown-toggle:focus .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
.navbar-inverse .nav-pills > .active > a,
.navbar-inverse .nav-pills > .active > a:hover,
.navbar-inverse .nav-pills > .active > a:focus {
  border: 1px solid #472504;
}
.navbar-inverse .nav-tabs > li > a {
  background-color: #5b2c03;
  background-image: url('./../img/patterns-sheer/patdark-15.png');
  background-position: center top;
  background-repeat: repeat;
  background-attachment: scroll;
  border: 1px solid #472504;
}
.navbar-inverse .nav-tabs > li > a:focus,
.navbar-inverse .nav-tabs > li > a:hover {
  background-color: #007a72;
  border-color: #007a72;
}
.navbar-inverse .nav-tabs > .active > a,
.navbar-inverse .nav-tabs > .active > a:hover,
.navbar-inverse .nav-tabs > .active > a:focus {
  background-color: transparent;
  background-image: none;
  background-repeat: no-repeat;
  border-color: rgba(0,0,0,0);
  -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,0.125);
  -moz-box-shadow: inset 0 3px 7px rgba(0,0,0,0.125);
  box-shadow: inset 0 3px 7px rgba(0,0,0,0.125);
  color: #333333;
}
.navbar-inverse .nav-tabs li.dropdown.open > .dropdown-toggle,
.navbar-inverse .nav-tabs li.dropdown.active > .dropdown-toggle,
.navbar-inverse .nav-tabs li.dropdown.open.active > .dropdown-toggle {
  color: #FFFFFF;
}
.navbar-inverse .nav-tabs li.dropdown.open > .dropdown-toggle .caret,
.navbar-inverse .nav-tabs li.dropdown.active > .dropdown-toggle .caret,
.navbar-inverse .nav-tabs li.dropdown.open.active > .dropdown-toggle .caret {
  border-top-color: #FFFFFF;
  border-bottom-color: #FFFFFF;
}
.navbar-inverse .navbar-search .search-query:focus,
.navbar-inverse .navbar-search .search-query.focused {
  padding: 4px 8px;
}
.navbar-inverse.navbar-pos-btm .nav-tabs > .active > a,
.navbar-inverse.navbar-pos-btm .nav-tabs > .active > a:hover {
  border-bottom: none;
}
.navbar-inverse.navbar-pos-top .navbar-inner,
.navbar-inverse.navbar-pos-btm.affix .navbar-inner {
  background-color: #5b2c03;
  background-image: url('./../img/patterns-sheer/patdark-15.png');
  background-position: center top;
  background-repeat: repeat;
  background-attachment: scroll;
  margin-left: 0;
  margin-right: 0;
  border-bottom: 1px solid #472504;
}
.navbar-inverse.navbar-pos-top .nav-tabs,
.navbar-inverse.navbar-pos-btm.affix .nav-tabs {
  border-left: 1px solid #9b4b05;
  border-right: 1px solid #110801;
}
.navbar-inverse.navbar-pos-top .nav-tabs > li > a,
.navbar-inverse.navbar-pos-btm.affix .nav-tabs > li > a {
  border-left: 1px solid #110801;
  border-right: 1px solid #9b4b05;
}
.navbar-inverse.navbar-pos-top .nav-tabs > li > a:focus,
.navbar-inverse.navbar-pos-top .nav-tabs > li > a:hover,
.navbar-inverse.navbar-pos-btm.affix .nav-tabs > li > a:focus,
.navbar-inverse.navbar-pos-btm.affix .nav-tabs > li > a:hover {
  border-color: #007a72;
}
.navbar-inverse.navbar-pos-top .nav-tabs > .active > a,
.navbar-inverse.navbar-pos-top .nav-tabs > .active > a:hover,
.navbar-inverse.navbar-pos-btm.affix .nav-tabs > .active > a,
.navbar-inverse.navbar-pos-btm.affix .nav-tabs > .active > a:hover {
  background: #005e5b;
  border-color: #005e5b;
  border-top: none;
  color: #ffffff;
}
.navbar-inverse.navbar-pos-top .nav-tabs > .active > a:before,
.navbar-inverse.navbar-pos-top .nav-tabs > .active > a:hover:before,
.navbar-inverse.navbar-pos-btm.affix .nav-tabs > .active > a:before,
.navbar-inverse.navbar-pos-btm.affix .nav-tabs > .active > a:hover:before {
  border-top-color: #472504;
  border-bottom-color: #472504;
}
.navbar-inverse.navbar-pos-top .nav-tabs > .active > a:after,
.navbar-inverse.navbar-pos-top .nav-tabs > .active > a:hover:after,
.navbar-inverse.navbar-pos-btm.affix .nav-tabs > .active > a:after,
.navbar-inverse.navbar-pos-btm.affix .nav-tabs > .active > a:hover:after {
  border-top-color: #005e5b;
}
.navbar-inverse.navbar-pos-top.transparent .navbar-inner,
.navbar-inverse.navbar-pos-btm.affix.transparent .navbar-inner,
.navbar-inverse.navbar-pos-top.navbar-tabs .navbar-inner,
.navbar-inverse.navbar-pos-btm.affix.navbar-tabs .navbar-inner {
  background-color: #5b2c03;
  background-image: url('./../img/patterns-sheer/patdark-15.png');
  background-position: center top;
  background-repeat: repeat;
  background-attachment: scroll;
}
.navbar-inverse.navbar-pos-top.gradient .navbar-inner,
.navbar-inverse.navbar-pos-btm.affix.gradient .navbar-inner {
  background-color: #793a04;
  background-image: -moz-linear-gradient(top,#8c4405,#5b2c03);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#8c4405),to(#5b2c03));
  background-image: -webkit-linear-gradient(top,#8c4405,#5b2c03);
  background-image: -o-linear-gradient(top,#8c4405,#5b2c03);
  background-image: linear-gradient(to bottom,#8c4405,#5b2c03);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8c4304', endColorstr='#ff5b2c03', GradientType=0);
}
.navbar-inverse.gradient .navbar-inner {
  background-color: #793a04;
  background-image: -moz-linear-gradient(top,#8c4405,#5b2c03);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#8c4405),to(#5b2c03));
  background-image: -webkit-linear-gradient(top,#8c4405,#5b2c03);
  background-image: -o-linear-gradient(top,#8c4405,#5b2c03);
  background-image: linear-gradient(to bottom,#8c4405,#5b2c03);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8c4304', endColorstr='#ff5b2c03', GradientType=0);
}
.navbar-inverse.gradient .nav-tabs > li > a {
  background-color: #793a04;
  background-image: -moz-linear-gradient(top,#8c4405,#5b2c03);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#8c4405),to(#5b2c03));
  background-image: -webkit-linear-gradient(top,#8c4405,#5b2c03);
  background-image: -o-linear-gradient(top,#8c4405,#5b2c03);
  background-image: linear-gradient(to bottom,#8c4405,#5b2c03);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8c4304', endColorstr='#ff5b2c03', GradientType=0);
}
.navbar-inverse.gradient .nav-tabs > li > a:focus,
.navbar-inverse.gradient .nav-tabs > li > a:hover {
  background: #007a72;
}
.navbar-inverse.gradient .nav-tabs > .active > a,
.navbar-inverse.gradient .nav-tabs > .active > a:hover,
.navbar-inverse.gradient .nav-tabs > .active > a:focus {
  background-color: transparent;
  background-image: none;
  background-repeat: no-repeat;
  border-color: rgba(0,0,0,0);
  -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,0.125);
  -moz-box-shadow: inset 0 3px 7px rgba(0,0,0,0.125);
  box-shadow: inset 0 3px 7px rgba(0,0,0,0.125);
  color: #333333;
}
.navbar-inverse.textshadow-no .brand,
.navbar-inverse.textshadow-no .nav > li > a,
.navbar-inverse.textshadow-no .nav > li > a:focus,
.navbar-inverse.textshadow-no .nav > li > a:hover,
.navbar-inverse.textshadow-no .nav > .active > a,
.navbar-inverse.textshadow-no .nav > .active > a:hover,
.navbar-inverse.textshadow-no .nav > .active > a:focus,
.navbar-inverse.textshadow-no .nav li.dropdown.open > .dropdown-toggle,
.navbar-inverse.textshadow-no .nav li.dropdown.active > .dropdown-toggle,
.navbar-inverse.textshadow-no .nav li.dropdown.open.active > .dropdown-toggle {
  text-shadow: none;
}
.navbar-inverse.vertdividers .nav > li > a {
  border-left: 1px solid #9b4b05;
  border-right: 1px solid #110801;
}
.navbar-inverse.vertdividers ul.nav {
  border-left: 1px solid #110801;
  border-right: 1px solid #9b4b05;
}
.navbar-inverse.vertdividers .nav > .active > a,
.navbar-inverse.vertdividers .nav > .active > a:hover,
.navbar-inverse.vertdividers .nav > .active > a:focus {
  border-color: #472504;
}
nav .menu-home a span {
  display: none;
}
nav .menu-home a:before {
  content: "\f015";
  font-family: 'FontAwesome';
  margin-right: 5px;
}
.navbar .mobile-navbar {
  display: none;
  float: left;
  width: 100%;
  height: 30px;
  margin: 0;
  margin-top: 5px;
}
.navbar .mobile-navbar .btn-navbar {
  float: left;
  padding: 4px 6px;
  margin: 0;
  color: #777777;
  display: block;
  height: 20px;
  font-size: 14px;
}
.navbar .mobile-navbar strong {
  float: left;
  margin-right: 5px;
  line-height: 20px;
}
.navbar .mobile-navbar i {
  float: right;
  line-height: 20px;
}
.navbar .mobile-navbar i:before,
.navbar .mobile-navbar i:after {
  color: #777777;
}
.navbar .mobile-navbar .mobile-menu {
  float: left;
  width: 85px;
  height: 30px;
  margin: 0;
}
.navbar .mobile-navbar .mobile-quicklinks {
  float: right;
  width: 70%;
  height: 30px;
  margin: 0;
}
.navbar .mobile-navbar .mobile-quicklinks .btn-navbar {
  float: right;
  margin: 0 0 0 3px;
  width: 15px;
}
.navbar-inverse .mobile-navbar .btn-navbar {
  color: #ffffff;
}
.navbar-inverse .mobile-navbar i:before,
.navbar-inverse .mobile-navbar i:after {
  color: #ffffff;
}
.ql-collapse.collapse {
  visibility: collapse;
}
.ql-collapse.in.collapse {
  visibility: visible;
  padding: 20px 0;
}
.ql-collapse.in.collapse .searchform {
  width: 100%;
}
.ql-collapse.in.collapse .searchform .search-wrap {
  display: block;
  width: auto;
}
.ql-collapse.in.collapse .searchform input.search-query {
  width: 97%;
  margin: auto;
  float: none;
}
.ql-collapse.in.collapse .searchform:focus,
.ql-collapse.in.collapse .searchform.focused {
  padding: 4px 8px;
}
.navbar-inverse .navbar-search input.search-query {
  background: #fff;
  color: #111;
}
.navbar .nav-collapse.in.collapse {
  padding-top: 20px;
  padding-bottom: 20px;
}
.navbar.vertdividers .nav-collapse.in.collapse ul.nav,
.navbar.vertdividers .nav-collapse.in.collapse ul.nav > li > a {
  border-left: none;
  border-right: none;
}
.navbar .nav-collapse.in.collapse .nav > li > a,
.navbar .nav-collapse.in.collapse .nav-tabs > li > a,
.navbar .nav-collapse.in.collapse .nav-pills > li > a {
  font-size: 14px;
  line-height: 14px;
  padding: 12px 15px;
  margin: 4px 0;
  background: transparent;
  border: none;
}
.navbar .nav-collapse.in.collapse .nav > li > a:hover {
  background-color: transparent;
  color: #000000;
  text-decoration: none;
}
.navbar .nav-collapse.in.collapse .nav > li > a:focus {
  background-color: #CCCCCC;
  color: #333333;
  text-decoration: none;
}
.navbar .nav-collapse.in.collapse .nav > .active > a,
.navbar .nav-collapse.in.collapse .nav > .active > a:hover,
.navbar .nav-collapse.in.collapse .nav > .active > a:focus,
.navbar .nav-collapse.in.collapse .nav-tabs > .active > a,
.navbar .nav-collapse.in.collapse .nav > .active > a:hover,
.navbar .nav-collapse.in.collapse .nav > .active > a:focus,
.navbar .nav-collapse.in.collapse .nav-pills > .active > a,
.navbar .nav-collapse.in.collapse .nav > .active > a:hover,
.navbar .nav-collapse.in.collapse .nav > .active > a:focus {
  color: #333333;
  text-decoration: none;
  background-color: #CCCCCC;
  -webkit-box-shadow: inset 0 3px 8px rgba(0,0,0,0.125);
  -moz-box-shadow: inset 0 3px 8px rgba(0,0,0,0.125);
  box-shadow: inset 0 3px 8px rgba(0,0,0,0.125);
  border: 1px solid #D4D4D4;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.navbar .nav-collapse.in.collapse .nav > li > .dropdown-menu:before,
.navbar .nav-collapse.in.collapse .nav > li > .dropdown-menu:after,
.navbar .nav-collapse.in.collapse .nav-tabs > li > .dropdown-menu:before,
.navbar .nav-collapse.in.collapse .nav-tabs > li > .dropdown-menu:after,
.navbar .nav-collapse.in.collapse .nav-pills > li > .dropdown-menu:before,
.navbar .nav-collapse.in.collapse .nav-pills > li > .dropdown-menu:after {
  display: none;
}
.navbar-inverse .nav-collapse.in.collapse .nav > li > a:hover {
  background-color: #007a72;
  color: #FFFFFF;
}
.navbar-inverse .nav-collapse.in.collapse .nav > li > a:focus {
  background-color: #005e5b;
  color: #ffffff;
}
.navbar-inverse .nav-collapse.in.collapse .nav > .active > a,
.navbar-inverse .nav-collapse.in.collapse .nav > .active > a:hover,
.navbar-inverse .nav-collapse.in.collapse .nav > .active > a:focus,
.navbar-inverse .nav-collapse.in.collapse .nav-tabs > .active > a,
.navbar-inverse .nav-collapse.in.collapse .nav > .active > a:hover,
.navbar-inverse .nav-collapse.in.collapse .nav > .active > a:focus,
.navbar-inverse .nav-collapse.in.collapse .nav-pills > .active > a,
.navbar-inverse .nav-collapse.in.collapse .nav > .active > a:hover,
.navbar-inverse .nav-collapse.in.collapse .nav > .active > a:focus {
  color: #ffffff;
  background-color: #005e5b;
  -webkit-box-shadow: inset 0 3px 8px rgba(0,0,0,0.125);
  -moz-box-shadow: inset 0 3px 8px rgba(0,0,0,0.125);
  box-shadow: inset 0 3px 8px rgba(0,0,0,0.125);
  border: 1px solid #472504;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.nav .dropdown > .dropdown-toggle .caret {
  display: inline-block;
  margin-top: 5px;
}
.navbar .nav > li > .dropdown-menu {
  margin-top: 2px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
.nav-tabs > li > .dropdown-menu {
  margin-top: 2px;
  -webkit-border-radius: 0 0 0px 0px;
  -moz-border-radius: 0 0 0px 0px;
  border-radius: 0 0 0px 0px;
}
.nav-pills > li > .dropdown-menu {
  margin-top: 2px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
.navbar .nav > li > .dropdown-menu:before,
.nav-tabs > li > .dropdown-menu:before,
.nav-pills > li > .dropdown-menu:before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-bottom-color: rgba(0,0,0,0.2);
  position: absolute;
  top: -7px;
  left: 9px;
}
.navbar .nav > li > .dropdown-menu:after,
.nav-tabs > li > .dropdown-menu:after,
.nav-pills > li > .dropdown-menu:after {
  content: '';
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #FFFFFF;
  position: absolute;
  top: -6px;
  left: 10px;
}
.nav .dropdown-menu .active > a,
.nav .dropdown-menu .active > a:hover {
  color: #ffffff;
}
.nav .dropdown-submenu > a:after {
  border-left-color: #333333;
}
.nav .dropdown-submenu:hover > a:after {
  border-left-color: #FFFFFF;
}
.nav .dropdown-submenu:focus > a:after {
  border-left-color: #FFFFFF;
}
.nav .dropdown-submenu:active > a:after {
  border-left-color: #ffffff;
}
.nav .dropdown-submenu.active:hover > a:after {
  border-left-color: #ffffff;
}
.nav .dropdown-submenu:hover > a {
  color: #FFFFFF;
}
.feature {
  display: block;
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  background-color: #FFFFFF;
  background-image: url('http://churchamp/wp-content/uploads/2013/01/featured-bg.png');
  background-position: center top;
  background-repeat: repeat;
  background-attachment: fixed;
  -webkit-border-top-left-radius: 0px;
  -moz-border-radius-topleft: 0px;
  border-top-left-radius: 0px;
  -webkit-border-top-right-radius: 0px;
  -moz-border-radius-topright: 0px;
  border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  border-bottom-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -moz-border-radius-bottomleft: 0px;
  border-bottom-left-radius: 0px;
  -webkit-box-shadow: inset 0px 0px 15px 5px rgba(0,0,0,0.15);
  -moz-box-shadow: inset 0px 0px 15px 5px rgba(0,0,0,0.15);
  box-shadow: inset 0px 0px 15px 5px rgba(0,0,0,0.15);
}
.feature.gradient {
  background-color: #f3f3f3;
  background-image: -moz-linear-gradient(top,#FFFFFF,#e0e0e0);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#FFFFFF),to(#e0e0e0));
  background-image: -webkit-linear-gradient(top,#FFFFFF,#e0e0e0);
  background-image: -o-linear-gradient(top,#FFFFFF,#e0e0e0);
  background-image: linear-gradient(to bottom,#FFFFFF,#e0e0e0);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe0e0e0', GradientType=0);
}
.feature-header,
.feature-search,
.feature-link,
.feature-menu {
  display: block;
  overflow: hidden;
  min-height: 40px;
  padding: 0;
}
.feature-header h1 {
  margin: 0;
  padding: 0;
}
.feature-header span.feature-subtitle {
  font-size: 22px;
}
.feature-search {
  padding-top: 0;
  padding-bottom: 5px;
}
.feature-link,
.feature-menu {
  font-family: "Kotta One", serif;
  text-align: right;
  float: right;
  font-size: 22px;
  line-height: 40px;
}
.feature-menu {
  overflow: visible;
}
.content {
  position: relative;
  overflow: hidden;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
  background-image: none;
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: scroll;
  -webkit-border-top-left-radius: 0px;
  -moz-border-radius-topleft: 0px;
  border-top-left-radius: 0px;
  -webkit-border-top-right-radius: 0px;
  -moz-border-radius-topright: 0px;
  border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  border-bottom-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -moz-border-radius-bottomleft: 0px;
  border-bottom-left-radius: 0px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.content.gradient {
  background-color: #f3f3f3;
  background-image: -moz-linear-gradient(top,#FFFFFF,#e0e0e0);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#FFFFFF),to(#e0e0e0));
  background-image: -webkit-linear-gradient(top,#FFFFFF,#e0e0e0);
  background-image: -o-linear-gradient(top,#FFFFFF,#e0e0e0);
  background-image: linear-gradient(to bottom,#FFFFFF,#e0e0e0);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe0e0e0', GradientType=0);
}
.main,
.sidebar {
  padding-bottom: 99999px;
  margin-bottom: -99979px;
  overflow: hidden;
}
.main {
  padding-top: 30px;
}
.main figure {
  background: #fff;
  margin-top: 20px;
  margin-bottom: 20px;
}
.main img {
  margin-bottom: 20px;
}
.main article {
  overflow: hidden;
}
.main .breadcrumbs {
  min-height: 20px;
  padding: 9px;
  margin-bottom: 20px;
  background-color: #eff6f6;
  border: 1px solid #d8e9e9;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
}
.sidebar {
  background-color: transparent;
  background-image: none;
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: scroll;
  -webkit-border-top-right-radius: ;
  -moz-border-radius-topright: ;
  border-top-right-radius: ;
  -webkit-border-bottom-right-radius: ;
  -moz-border-radius-bottomright: ;
  border-bottom-right-radius: ;
}
.sidebar.gradient {
  background-color: #dbdbdb;
  background-image: -moz-linear-gradient(left,#EDEDED,#dbdbdb);
  background-image: -webkit-gradient(linear,0 0,100% 0,from(#EDEDED),to(#dbdbdb));
  background-image: -webkit-linear-gradient(left,#EDEDED,#dbdbdb);
  background-image: -o-linear-gradient(left,#EDEDED,#dbdbdb);
  background-image: linear-gradient(to right,#EDEDED,#dbdbdb);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffededed', endColorstr='#ffdbdbdb', GradientType=1);
}
.sidebar > .sidebar-inner section {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px 0;
}
.sidebar > .sidebar-inner {
  margin-left: 30px;
  margin-right: 30px;
}
.hentry .entry-meta {
  height: auto;
  overflow: hidden;
}
.hentry .entry-meta div {
  margin-right: 20px;
}
.archive article {
  *zoom: 1;
}
.archive article:before,
.archive article:after {
  display: table;
  content: "";
  line-height: 0;
}
.archive article:after {
  clear: both;
}
.readmore {
  float: right;
}
section.respond {
  padding-top: 0px;
  padding: 10px;
  background: #F6F6F6;
  margin-bottom: 20px;
}
.commentform .btn {
  margin-right: 0.7%;
}
.comments {
  line-height: 24px;
  margin-bottom: 18px;
}
ol.commentlist,
ol.commentlist ul.children {
  list-style-type: none;
  margin-left: 0;
}
.comment .vcard h4 {
  margin: 0;
}
ol.commentlist time {
  font-size: .8em;
  color: #eeeeee;
}
ol.commentlist div.comment-author {
  position: relative;
}
ol.commentlist a.comment-edit-link {
  text-decoration: none;
  padding-left: 5px;
}
ol.commentlist span.edit-comment {
  position: absolute;
  right: 0px;
  top: 5px;
}
a.comment-reply-link {
  position: absolute;
  right: 0;
  bottom: 0;
}
.cancel-comment-reply {
  float: right;
  margin-right: 5px;
}
.comment-nav ul {
  list-style-type: none;
  margin: 0;
}
.comment-form-elements {
  list-style-type: none;
  margin: 0;
}
.comment .vcard .avatar {
  padding-right: 0;
}
.comment .vcard .comment-text {
  margin-left: 0;
}
img.avatar {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #dedede;
  border-right: 1px solid #dedede;
  border-left: 1px solid #ddd;
}
ol.commentlist li article {
  margin-bottom: 20px;
}
ol.commentlist li article .icon-calendar {
  margin-bottom: 10px;
}
ol.commentlist li li {
  margin-left: 20px;
}
.comment {
  width: 98%;
  min-width: 275px;
}
.commentform .btn {
  text-align: right;
  margin-top: 10px;
  float: right;
}
.respond input.author,
.respond input.email,
.respond input.url {
  width: 50%;
  min-width: 275px;
}
.superfooter {
  padding-top: 0px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  background-color: #4f2700;
  background-image: url('http://churchamp/wp-content/uploads/2013/01/mosaic-footer.png');
  background-position: center top;
  background-repeat: repeat;
  background-attachment: scroll;
  -webkit-border-top-left-radius: 0px;
  -moz-border-radius-topleft: 0px;
  border-top-left-radius: 0px;
  -webkit-border-top-right-radius: 0px;
  -moz-border-radius-topright: 0px;
  border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  border-bottom-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -moz-border-radius-bottomleft: 0px;
  border-bottom-left-radius: 0px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: #ffffff;
}
.superfooter.gradient {
  background-color: #743900;
  background-image: -moz-linear-gradient(top,#8c4500,#4f2700);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#8c4500),to(#4f2700));
  background-image: -webkit-linear-gradient(top,#8c4500,#4f2700);
  background-image: -o-linear-gradient(top,#8c4500,#4f2700);
  background-image: linear-gradient(to bottom,#8c4500,#4f2700);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8c4500', endColorstr='#ff4f2700', GradientType=0);
}
.superfooter a {
  color: #9cd6d6;
  border-bottom: 1px dotted #9cd6d6;
}
.superfooter a:hover {
  text-decoration: none;
  border-bottom: 1px solid #66c0c0;
  color: #66c0c0;
}
.superfooter h3 {
  color: #ffffff;
  margin: 0 0 10px 0;
}
.superfooter section {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-left: 30px;
  margin-right: 30px;
}
.colophon {
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  background-color: #005e5b;
  background-image: none;
  background-position: center top;
  background-repeat: repeat;
  background-attachment: scroll;
  -webkit-border-top-left-radius: 0px;
  -moz-border-radius-topleft: 0px;
  border-top-left-radius: 0px;
  -webkit-border-top-right-radius: 0px;
  -moz-border-radius-topright: 0px;
  border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  border-bottom-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -moz-border-radius-bottomleft: 0px;
  border-bottom-left-radius: 0px;
  -webkit-box-shadow: inset 0px 0px 15px 5px rgba(0,0,0,0.15);
  -moz-box-shadow: inset 0px 0px 15px 5px rgba(0,0,0,0.15);
  box-shadow: inset 0px 0px 15px 5px rgba(0,0,0,0.15);
  color: #ffffff;
  background-color: #005c59;
}
.colophon.gradient {
  background-color: #00837f;
  background-image: -moz-linear-gradient(top,#009b96,#005e5b);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#009b96),to(#005e5b));
  background-image: -webkit-linear-gradient(top,#009b96,#005e5b);
  background-image: -o-linear-gradient(top,#009b96,#005e5b);
  background-image: linear-gradient(to bottom,#009b96,#005e5b);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff009b96', endColorstr='#ff005e5b', GradientType=0);
}
.colophon a {
  color: #ffffff;
  border-bottom: 1px dotted #ffffff;
}
.colophon a:hover {
  text-decoration: none;
  border-bottom: 1px solid #d9d9d9;
  color: #d9d9d9;
}
.credits {
  text-align: right;
}
.main .gi-img {
  margin-bottom: 10px;
}
.gi-anchor.well {
  position: relative;
  display: block;
  overflow: hidden;
  width: auto;
  padding: 9px;
  border-width: 1px;
}
.gi-anchor.well:hover {
  border: 2px solid #008782;
  padding: 8px;
  text-decoration: none;
  background: ligten(#eff6f6,5%);
}
.gi-anchor.well:hover .gi-date-bar {
  left: 0px;
  right: 0px;
  bottom: 0px;
}
.gi-title {
  margin: 10px 0 2px 0;
  line-height: 24px;
}
.gi-tagline {
  font-size: 12px;
  line-height: 12px;
  margin: 0;
  padding: 0;
}
.gi-tagline,
.gi-tagline li {
  list-style: none;
}
.gi-details {
  display: block;
  margin: 10px 0;
  line-height: 14px;
}
.gi-speaker {
  font-style: italic;
}
.gi-date-bar {
  display: block;
  overflow: hidden;
  text-transform: uppercase;
  font-weight: bold;
  font-style: normal;
  width: auto;
  background: #00948d;
  color: #fff;
  display: block;
  font-size: 14px;
  position: absolute;
  left: 1px;
  right: 1px;
  bottom: 1px;
}
.gi-date {
  float: right;
  text-align: right;
  font-size: 22px;
  padding: 4px 15px;
}
.searchform {
  position: relative;
  float: right;
  margin: 0;
  padding: 3px 0;
  vertical-align: middle;
  height: 34px;
  width: 100%;
  display: block;
}
.searchform input.search-query {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #aaa;
  width: 325px;
  float: right;
  height: 24px;
  line-height: 24px;
  padding: 4px 8px;
  background: #fefefe;
  display: block;
}
.searchform input.search-query:focus {
  -webkit-box-shadow: inset 0 1px 1px 1px rgba(0,0,0,.2), 0 0 10px 0 rgba(255,255,255,.8);
  -moz-box-shadow: inset 0 1px 1px 1px rgba(0,0,0,.2), 0 0 10px 0 rgba(255,255,255,.8);
  box-shadow: inset 0 1px 1px 1px rgba(0,0,0,.2), 0 0 10px 0 rgba(255,255,255,.8);
  border-color: rgba(0,0,0,0.8);
  padding: 4px 8px;
}
.searchform button.btn {
  background: transparent;
  color: #005e5b;
  font-size: 18px;
  line-height: 26px;
  text-shadow: none;
  border: none;
  -webkit-border-top-left-radius: 0px;
  -moz-border-radius-topleft: 0px;
  border-top-left-radius: 0px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 0px;
  -moz-border-radius-bottomleft: 0px;
  border-bottom-left-radius: 0px;
  -webkit-box-shadow: 0 0 0 transparent;
  -moz-box-shadow: 0 0 0 transparent;
  box-shadow: 0 0 0 transparent;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  vertical-align: middle;
  float: right;
  display: block;
  height: 32px;
  margin: 1px;
  padding: 4px 8px;
  margin-top: -33px;
  z-index: 1000;
}
.searchform button.btn:hover {
  background: #005e5b;
  color: #fff;
}
.searchform button.btn:hover [class^="icon-"]:before,
.searchform button.btn:hover [class*=" icon-"]:before {
  color: #fff;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  color: #005e5b;
}
i[class^="ss-"] {
  font-style: normal;
}
[class^="icon-"].i-circle,
[class*=" icon-"].i-circle {
  vertical-align: middle;
  display: inline-block;
  width: 28px;
  height: 28px;
  font-size: 16px;
  text-align: center;
  background-color: #fff;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  border-radius: 14px;
  border: 1px solid #005e5b;
}
.i-circle:before {
  color: #005e5b;
  padding: 6px;
}
.i-circle.i-invert {
  background: #005e5b;
  border-color: #fff;
}
.i-circle.i-invert:before {
  color: #fff;
}
.media.video {
  width: 100%;
  height: auto;
}
.media.doc iframe {
  width: 100%;
  height: 700px;
}
.prefix {
  font-size: 11px;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  color: #555;
  margin-right: 5px;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.aligncenter {
  display: block;
  margin: 0 auto;
}
.alignleft {
  float: left;
}
.alignright {
  float: right;
}
figure.alignnone {
  margin-left: 0;
  margin-right: 0;
}
img.alignright {
  margin-left: 20px;
}
img.alignleft {
  margin-right: 20px;
}
.banner.fullwidth,
.masthead.fullwidth,
.navbar-inner.fullwidth,
.navbar-fixed-top .navbar-inner.fullwidth,
.navbar-static-top .navbar-inner.fullwidth,
.feature.fullwidth,
.content.fullwidth,
.superfooter.fullwidth,
.colophon.fullwidth {
  padding-left: 0;
  padding-right: 0;
}
.banner.contain,
.masthead.contain,
.navbar-inner.contain,
.navbar-fixed-top .navbar-inner.contain,
.navbar-static-top .navbar-inner.contain,
.feature.contain,
.content.contain,
.superfooter.contain,
.colophon.contain {
  padding-left: 30px;
  padding-right: 30px;
}
.banner.contain {
  padding-left: 0;
  padding-right: 0;
}
.banner.contain .masthead.fullwidth,
.banner.contain .masthead.contain,
.banner.contain .navbar-inner.fullwidth,
.banner.contain .navbar-fixed-top .navbar-inner.fullwidth,
.banner.contain .navbar-static-top .navbar-inner.fullwidth,
.banner.contain .navbar-inner.contain,
.banner.contain .navbar-fixed-top .navbar-inner.contain,
.banner.contain .navbar-static-top .navbar-inner.contain {
  width: auto;
  margin-left: 0;
  left: 0;
  padding-left: 0;
  padding-right: 0;
}
.navbar.affix .navbar-inner.contain,
.navbar.affix .navbar-inner.fullwidth {
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  left: auto;
  right: auto;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
@media (min-width: 1200px) {
  .fullwidth.wrap {
    width: 100%;
    margin-left: -50%;
    position: absolute;
    left: 50%;
  }
  .contain {
    width: 1170px;
  }
  .contain.wrap {
    width: 1230px;
    margin-left: -615px;
    position: absolute;
    left: 50%;
  }
  .container {
    width: 1170px;
  }
  .banner.contain,
  .masthead.contain,
  .navbar-inner.contain,
  .navbar-fixed-top .navbar-inner.contain,
  .navbar-static-top .navbar-inner.contain,
  .feature.contain,
  .content.contain,
  .superfooter.contain,
  .colophon.contain {
    width: 1170px;
    margin-left: -615px;
    position: relative;
    left: 50%;
    padding-left: 30px;
    padding-right: 30px;
  }
  .banner.contain {
    width: 1230px;
    padding-left: 0;
    padding-right: 0;
  }
  .content {
    position: relative;
  }
  .main {
    position: relative;
    left: 0;
  }
  .sidebar {
    width: 400px;
    margin-right: -30px;
  }
}
@media (max-width: 1199px) {
  .contain {
    width: 940px;
  }
  .contain.wrap {
    width: 1000px;
    margin-left: -500px;
    position: absolute;
    left: 50%;
  }
  .container {
    width: 940px;
  }
  .banner.contain,
  .masthead.contain,
  .navbar-inner.contain,
  .navbar-fixed-top .navbar-inner.contain,
  .navbar-static-top .navbar-inner.contain,
  .feature.contain,
  .content.contain,
  .superfooter.contain,
  .colophon.contain {
    width: 940px;
    margin-left: -500px;
    position: relative;
    left: 50%;
    padding-left: 30px;
    padding-right: 30px;
  }
  .banner.contain {
    width: 1000px;
    padding-left: 0;
    padding-right: 0;
  }
  .sidebar {
    width: 330px;
    margin-right: -30px;
  }
  .searchform input.search-query {
    width: 85%;
  }
}
@media (max-width: 979px) {
  body.top-navbar {
    padding-top: 0;
  }
  .contain {
    width: 724px;
  }
  .contain.wrap {
    width: 784px;
    margin-left: -392px;
    position: absolute;
    left: 50%;
  }
  .container {
    width: 724px;
  }
  .banner.contain,
  .masthead.contain,
  .navbar-inner.contain,
  .navbar-fixed-top .navbar-inner.contain,
  .navbar-static-top .navbar-inner.contain,
  .feature.contain,
  .content.contain,
  .superfooter.contain,
  .colophon.contain {
    width: 724px;
    margin-left: -392px;
    position: relative;
    left: 50%;
    padding-left: 30px;
    padding-right: 30px;
  }
  .banner.contain {
    width: 784px;
    padding-left: 0;
    padding-right: 0;
  }
  .masthead,
  .navbar-inner,
  .navbar-fixed-top .navbar-inner,
  .navbar-static-top .navbar-inner,
  .feature,
  .content,
  .superfooter,
  .colophon {
    padding-left: 30px;
    padding-right: 30px;
  }
  .navbar-inner,
  .navbar-fixed-top .navbar-inner,
  .navbar-fixed-bottom .navbar-inner,
  .navbar-static-top .navbar-inner {
    padding-left: 30px;
    padding-right: 30px;
  }
  .navbar-fixed-top,
  .navbar-fixed-bottom,
  .navbar-static-top {
    margin: 0;
  }
  .navbar.navbar-tabs .navbar-inner {
    background: #DDDDDD;
    border-top: 1px solid #D4D4D4;
    border-bottom: 1px solid #D4D4D4;
  }
  .navbar-inverse.navbar-tabs .navbar-inner {
    background: #5b2c03;
    border-top: 1px solid #472504;
    border-bottom: 1px solid #472504;
  }
  .navbar-static-top .container,
  .navbar-fixed-top .container,
  .navbar-fixed-bottom .container {
    width: 724px;
  }
  .navbar.vertdividers ul.nav,
  .navbar.vertdividers ul.nav > li > a {
    border-left: none;
    border-right: none;
  }
  .nav-collapse,
  .nav-collapse.collapse {
    visibility: collapse;
  }
  .nav-collapse.in.collapse {
    visibility: visible;
  }
  .navbar .mobile-navbar {
    display: block;
  }
  .feature-header {
    width: auto;
  }
  .content.contain,
  .content.contain .container {
    width: 784px;
    padding: 0;
  }
  .content,
  .content .container {
    width: 100%;
    padding: 0;
  }
  .main {
    float: none;
    padding-bottom: 0;
    margin-bottom: 0;
    width: auto;
    padding-bottom: 20px;
    border-bottom: 1px solid #69bfbc;
  }
  .main > .main-inner {
    width: 784px;
    margin-left: auto;
    margin-right: auto;
  }
  .main > .main-inner > * {
    padding-left: 30px;
    padding-right: 30px;
  }
  .sidebar {
    float: none;
    padding: 0;
    margin-bottom: 0;
    margin-right: 0;
    width: auto;
  }
  .sidebar > .sidebar-inner {
    margin-left: 0;
    margin-right: 0;
  }
  .sidebar > .sidebar-inner section {
    border-top: 1px solid #69bfbc;
    border-bottom: 1px solid #69bfbc;
    padding: 15px 0;
    margin: 0;
  }
  .sidebar > .sidebar-inner section > .widget-inner {
    width: 784px;
    margin-left: auto;
    margin-right: auto;
  }
  .sidebar > .sidebar-inner section > .widget-inner > * {
    padding-left: 30px;
    padding-right: 30px;
  }
  .main .breadcrumbs {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    margin-top: -30px;
  }
  .superfooter.contain {
    padding: 0;
    width: 784px;
  }
  .superfooter {
    padding: 0;
    width: 100%;
  }
  .superfooter .container,
  .superfooter .row {
    padding: 0;
    margin: 0 auto;
    width: 100%;
  }
  .superfooter .span12,
  .superfooter .span4 {
    padding: 0;
    margin: 0 auto;
    width: 100%;
  }
  .superfooter .sf-col {
    border-top: 1px solid #69bfbc;
    border-bottom: 1px solid #69bfbc;
    padding: 15px 0;
    margin: 0;
    width: 100%;
  }
  .superfooter section {
    width: 784px;
    margin-left: auto;
    margin-right: auto;
  }
  .superfooter section > .widget-inner {
    padding-left: 30px;
    padding-right: 30px;
  }
  .colophon {
    border-top: 1px solid #69bfbc;
  }
  .credits {
    float: right;
  }
}
@media (max-width: 767px) {
  body {
    padding-left: 0px;
    padding-right: 0px;
  }
  .masthead.contain,
  .navbar-inner.contain,
  .navbar-fixed-top .navbar-inner.contain,
  .navbar-static-top .navbar-inner.contain,
  .feature.contain {
    width: auto;
    margin-left: 0px;
    position: relative;
    left: 0;
    padding-left: 30px;
    padding-right: 30px;
  }
  .banner.contain,
  .content.contain,
  .superfooter.contain,
  .colophon.contain {
    width: 100%;
    margin-left: 0px;
    position: relative;
    left: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .banner.contain {
    padding-left: 0;
    padding-right: 0;
  }
  .banner.contain .masthead.fullwidth,
  .banner.contain .masthead.contain,
  .banner.contain .navbar-inner.fullwidth,
  .banner.contain .navbar-fixed-top .navbar-inner.fullwidth,
  .banner.contain .navbar-static-top .navbar-inner.fullwidth,
  .banner.contain .navbar-inner.contain,
  .banner.contain .navbar-fixed-top .navbar-inner.contain,
  .banner.contain .navbar-static-top .navbar-inner.contain {
    width: auto;
    margin-left: 0;
    left: 0;
    padding-left: 30px;
    padding-right: 30px;
  }
  .banner.contain {
    padding-left: 0;
    padding-right: 0;
  }
  .wrap,
  .banner,
  .masthead,
  .navbar .navbar-inner,
  .navbar-fixed-top .navbar-inner,
  .navbar-fixed-bottom .navbar-inner,
  .navbar-static-top .navbar-inner,
  .feature,
  .content,
  .superfooter,
  .colophon {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    border-left: none;
    border-right: none;
    margin-top: 0;
    margin-bottom: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  .contain {
    width: auto;
  }
  .contain.wrap {
    width: auto;
    margin-left: 0px;
    position: relative;
    left: 0;
  }
  .container,
  .span12,
  .span11,
  span10,
  .span9,
  .span8,
  .span7,
  .span6,
  .span5,
  .span4,
  .span3,
  .span2,
  .span1 {
    width: 100%;
  }
  .masthead,
  .masthead.fullwidth {
    padding-left: 30px;
    padding-right: 30px;
  }
  .feature,
  .feature.fullwidth {
    padding-left: 30px;
    padding-right: 30px;
  }
  .navbar-inner.fullwidth,
  .navbar-fixed-top .navbar-inner.fullwidth,
  .navbar-static-top .navbar-inner.fullwidth {
    padding-left: 30px;
    padding-right: 30px;
  }
  .navbar-static-top .container,
  .navbar-fixed-top .container,
  .navbar-fixed-bottom .container {
    width: 100%;
  }
  .navbar-fixed-top,
  .navbar-fixed-bottom,
  .navbar-static-top {
    margin: 0;
  }
  .content.contain,
  .content.contain .container {
    width: 100%;
    padding: 0;
  }
  .main > .main-inner {
    width: 100%;
  }
  .sidebar > .sidebar-inner section > .widget-inner {
    width: 100%;
  }
  .superfooter,
  .superfooter section {
    width: 100%;
  }
  .copyright,
  .credits {
    text-align: center;
    float: none;
    margin: 0;
  }
  .searchform input.search-query {
    width: 75%;
  }
  .ql-collapse.in.collapse .searchform input.search-query {
    width: 96%;
  }
  .comment {
    width: 97%;
  }
}
@media (max-width: 480px) {
  .masthead .brand a {
    float: none;
    display: block;
    width: auto;
    margin: 0 auto;
    text-align: center;
  }
  .masthead .brand span.brand_font_text,
  .masthead .brand img {
    float: none;
  }
  .feature {
    padding-left: 0;
    padding-right: 0;
  }
  .feature .feature-header {
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
  }
  .feature-menu,
  .feature-link {
    text-align: center;
    float: none;
  }
  .main .gi-img {
    width: 100%;
  }
  .searchform input.search-query {
    width: 65%;
  }
  .ql-collapse.in.collapse .searchform input.search-query {
    width: 94%;
  }
  .comment {
    width: 95%;
  }
}
[class*="spanish"] {
  margin-left: auto;
}
#banner {
  border-top: 7px solid #005e5b;
  border-bottom: 3px solid #00443f;
}
.navbar-inverse .navbar-search .search-query {
  background-color: #fff;
  color: #000;
}
.nav-soscial a {
  margin: 4px 2px;
}
.feature {
  border-bottom: 3px solid #69bfbc;
}
.feature-link .breadcrumbs {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
}
.lead {
  font-size: 24px;
}
.endvr_news {
  list-style: none;
  margin-left: 0;
}
.endvr_contact_connect_postal_address {
  display: block;
  margin-left: 20px;
}
#endvr-widget-missionary-details-contact .widget-inner div {
  margin-bottom: 15px;
}
.wpcf7-form-control-wrap .wpcf7-textarea {
  width: 96%;
}
.endvr_social,
.endvr_contact {
  clear: both;
  line-height: 24px;
  padding: 5px 0;
}
.endvr_social span {
  text-transform: lowercase;
  font-style: italic;
  margin-left: 5px;
}
.endvr_social span:before {
  content: '( ';
}
.endvr_social span:after {
  content: ' )';
}
.endvr_social i {
  background-image: url(./../img/social_media_icons.png);
  display: block;
  float: left;
  width: 24px;
  height: 24px;
  margin: 0 10px 0 0;
}
.endvr_social.connect_amazon i {
  background-position: 0 0;
}
.endvr_social.connect_delicious i {
  background-position: 0 -24px;
}
.endvr_social.connect_deviantart i {
  background-position: 0 -48px;
}
.endvr_social.connect_digg i {
  background-position: 0 -72px;
}
.endvr_social.connect_dribbble i {
  background-position: 0 -96px;
}
.endvr_social.connect_ebay i {
  background-position: 0 -120px;
}
.endvr_social.connect_email i {
  background-position: 0 -144px;
}
.endvr_social.connect_facebook i {
  background-position: 0 -168px;
}
.endvr_social.connect_feedburner i {
  background-position: 0 -192px;
}
.endvr_social.connect_flickr i {
  background-position: 0 -216px;
}
.endvr_social.connect_forrst i {
  background-position: 0 -240px;
}
.endvr_social.connect_foursquare i {
  background-position: 0 -264px;
}
.endvr_social.connect_github i {
  background-position: 0 -288px;
}
.endvr_social.connect_google i {
  background-position: 0 -312px;
}
.endvr_social.connect_instagram i {
  background-position: 0 -336px;
}
.endvr_social.connect_linkedin i {
  background-position: 0 -360px;
}
.endvr_social.connect_myspace i {
  background-position: 0 -384px;
}
.endvr_social.connect_paypal i {
  background-position: 0 -408px;
}
.endvr_social.connect_picassa i {
  background-position: 0 -432px;
}
.endvr_social.connect_reddit i {
  background-position: 0 -456px;
}
.endvr_social.connect_feed i {
  background-position: 0 -480px;
}
.endvr_social.connect_scribd i {
  background-position: 0 -504px;
}
.endvr_social.connect_squidoo i {
  background-position: 0 -528px;
}
.endvr_social.connect_technorati i {
  background-position: 0 -552px;
}
.endvr_social.connect_tumblr i {
  background-position: 0 -576px;
}
.endvr_social.connect_twitter i {
  background-position: 0 -600px;
}
.endvr_social.connect_vimeo i {
  background-position: 0 -624px;
}
.endvr_social.connect_xbox i {
  background-position: 0 -648px;
}
.endvr_social.connect_yahoo i {
  background-position: 0 -672px;
}
.endvr_social.connect_youtube i {
  background-position: 0 -696px;
}
.endvr_contact i {
  background-image: url(./../img/meta_icons.png);
  display: block;
  float: left;
  width: 24px;
  height: 24px;
  margin: 0 10px 0 -35px;
}
.endvr_contact.connect_phone i {
  background-position: 0 0;
}
.endvr_contact.connect_fax i {
  background-position: 0 -24px;
}
.endvr_contact.connect_postal i {
  background-position: 0 -48px;
}
.endvr_contact.connect_email i {
  background-position: 0 -72px;
}
.endvr_contact.connect_contact_form i {
  background-position: 0 -96px;
}
.endvr_contact {
  padding-left: 35px;
}
#endvr-widget-missionary-details-contact .endvr_contact i,
#endvr-widget-missionary-news i {
  background-image: none;
  font-size: 20px;
}
body.directions-map .widget_endvr_gmap,
body[class*="sermon"] .widget_endvr_gmap,
body.home .widget_endvr_gmap {
  padding-top: 10px;
}
body.directions-map .widget_endvr_gmap .gmap,
body[class*="sermon"] .widget_endvr_gmap .gmap,
body.home .widget_endvr_gmap .gmap {
  display: none;
}
body.contact .widget_endvr_contact_info .connect_contact_form {
  display: none;
}
.superfooter {
  border-top: 7px solid #005e5b;
  border-bottom: 3px solid #00443f;
}
.superfooter section {
  overflow: hidden;
}
.colophon {
  border-bottom: 3px solid #00443f;
}
.superfooter .btn,
.superfooter .btn:hover,
.superfooter .btn i:before {
  color: #fff;
  border: none;
}
.endvr-widget-staff-details ul,
.endvr-widget-staff-details li {
  list-style: none;
  margin-left: 0;
}
.endvr-widget-staff-details li {
  line-height: 36px;
}
.sidebar section.endvr-widget-missionary-photo {
  margin-top: 40px;
}
.sidebar section.endvr-widget-ministry-events {
  margin-top: 20px;
}
.sidebar section.endvr-widget-sunday-events {
  margin-top: 30px;
}
.sidebar section.endvr-widget-sunday-events .well.well-small {
  padding-left: 15px;
  padding-right: 15px;
}
.sidebar section.endvr-widget-sunday-events a.well.well-small:hover {
  padding-left: 14px;
  padding-right: 14px;
}
.sidebar section.endvr-widget-sunday-events h3 {
  margin-top: 0;
}
.sidebar section.endvr-widget-sunday-events h5 {
  margin-bottom: 0;
}
body.home .endvr-home-worship-block {
  padding-top: 20px;
}
body.home .endvr-home-sermon-block {
  padding-bottom: 30px;
}
body.home .span4 .media-frame {
  min-height: 20px;
  background-color: #eff6f6;
  border: 1px solid #d8e9e9;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
  width: 94%;
  padding: 2.75%;
  height: auto;
}
body.home .span4 .media-frame .resp-video-wrapper {
  margin-bottom: 0;
}
body.home .sdr.header {
  width: 94%;
  height: 18%;
  padding: 3%;
}
body.home .sdr.content {
  width: 94%;
  height: 35%;
  padding: 3% 3% 2%;
}
body.home .sdi {
  width: auto;
  padding: 0;
  margin: 2px 6px auto 0;
  height: 50%;
  font-size: 25px;
}
body.home .sdt {
  width: auto;
  height: 100%;
}
body.home .sdt h3,
body.home .sdt h4 {
  padding: 0;
  margin: 0;
  height: 50%;
  line-height: normal;
}
body.home .sdr.footer {
  width: 100%;
  height: 12%;
  padding: 10% 0 0;
}
body.home .sdr.footer a {
  width: 80%;
  padding-left: 10%;
  padding-right: 10%;
}
.heading-underline {
  border-bottom: 2px solid rgba(0,94,91,0.1);
  margin-bottom: 20px;
  padding-bottom: 10px;
  margin-top: 10px;
}
.heading-highlight {
  padding: 10px;
  background: rgba(0,135,130,0.5);
  color: #ffffff;
  margin-top: 20px;
  border: 1px solid #76b2b2;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
}
@media (max-width: 1199px) {
  body.home .endvr-home-worship-block .gi-anchor {
    min-height: 140px;
  }
  body.home .sdr.footer {
    padding: 5% 0 2%;
  }
}
@media (max-width: 979px) {
  body.home .endvr-home-worship-block .gi-anchor {
    min-height: 165px;
  }
  body.home .sdt h3 {
    font-size: 16px;
  }
  body.home .sdt h4 {
    font-size: 14px;
  }
  body.home .sdi {
    font-size: 18px;
  }
  body.home .sdr.footer {
    padding: 0 0 0;
  }
}
@media (max-width: 767px) {
  body.home .endvr-home-worship-block .gi-anchor {
    min-height: auto;
  }
  body.home .sdr.header {
    padding-bottom: 0;
  }
  body.home .sdt h3 {
    font-size: 24px;
  }
  body.home .sdt h4 {
    font-size: 18px;
  }
  body.home .sdr.footer {
    padding: 5% 0 0;
  }
  body.home .endvr-home-sermon-block > *,
  body.home .endvr-home-worship-block > * {
    width: auto;
    padding: 0 30px;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .gi-title {
    font-size: 24px;
    line-height: 30px;
  }
}
@media (max-width: 480px) {
  .sermon_external_link .prefix {
    display: none;
  }
  .feature-link {
    text-align: center;
    float: none;
  }
}
