#icon-edit.icon32.icon32-posts-sundays:before { font-family:'ss-pika' !important; font-size:28px; content: '\2600'; }
.icon16.icon-sundays:before,#adminmenu .menu-icon-sundays div.wp-menu-image:before { font-family:'ss-pika' !important; font-size:16px; content: '\2600'; }