#icon-edit.icon32.icon32-posts-missionaries:before { font-family:'ss-pika' !important; font-size:28px; content: '\1f310'; }
.icon16.icon-missionaries:before,#adminmenu .menu-icon-missionaries div.wp-menu-image:before { font-family:'ss-pika' !important; font-size:16px; content: '\1f310'; }
td.column-_endvr_missionary_org { max-width:300px; }
td.column-_endvr_missionary_role { max-width:300px; }
td.column-_endvr_missionary_email { max-width:300px; }
td.column-_endvr_missionary_photo_thumb { max-width:133px; }
td.column-_endvr_missionary_photo_full { max-width:100px; }			
th.column-_endvr_missionary_photo_thumb, th.column-_endvr_missionary_photo_full { text-align:right; }	
td.column-_endvr_missionary_photo_thumb img, td.column-_endvr_missionary_photo_full img { float:right; }
td.column-_endvr_missionary_photo_thumb img { max-width:133px; }
td.column-_endvr_missionary_photo_full img { max-width:100px; }