@charset "UTF-8";

@font-face {
  font-family: 'ss-pika';
  src: url("font/ss-pika/ss-pika.eot");
  src: url("font/ss-pika/ss-pika.eot?#iefix") format('embedded-opentype'), url("font/ss-pika/ss-pika.woff") format('woff'), url("font/ss-pika/ss-pika.ttf") format('truetype'), url("font/ss-pika/ss-pika.svg#ss-pika") format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"]:before,
[class*=" icon-"]:before,
.wp-menu-image:before,
.ab-icon:before {
  font-family: 'ss-pika';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  opacity: 0.8;
/* fix buttons height, for twitter bootstrap */
  line-height: 24px;
/* Animation center compensation - magrins should be symmetric */
/* remove if not needed */
  margin-left: 0.2em;
/* you can be more comfortable with increased icons size */
/* font-size: 120%; */
/* Uncomment for 3D effect */
/* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
margin-left: 8px;
font-size: 16px;
margin-top: 6px;
}

li.menupop.hover .ab-icon:before {color:#40545a;text-shadow:none;}

.ab-icon:before {margin-left:0;margin-top:0;opacity: 1;text-shadow:0px 1px 0px rgb(0,0,0,1);}
#wp-admin-bar-wp-logo .ab-icon:before {font-size:20px;}
#wpadminbar #wp-admin-bar-new-content .ab-icon {margin-top:3px;}

#wp-admin-bar-new-content .ab-icon:before,.icon-plus:before { content: '\002b'; } /* '+' */
#wp-admin-bar-wp-logo .ab-icon:before,.icon-wordpress:before { content: '\77'; } /* 'w' */
.menu-icon-dashboard .wp-menu-image:before,.icon-home:before { content: '\2302'; } /* '⌂' */
.menu-icon-plugins .wp-menu-image:before,.icon-split:before { content: '\f282'; } /* '⎇' */
.menu-icon-media .wp-menu-image:before,.icon-music:before { content: '\e800'; } /* '♫' */
.wp-menu-image:before,.icon-cog:before { content: '\2699'; } /* '⚙' */
.icon-edit:before { content: '\270d'; } /* '✍' */
.icon-pencil:before { content: '\270e'; } /* '✎' */
.menu-icon-post .wp-menu-image:before,.icon-feather:before { content: '\2712'; } /* '✒' */
.icon-tag:before { content: '\e70c'; } /* '' */
.icon-tags:before { content: '\e70d'; } /* '' */
.icon-camera-alt:before { content: '\e70f'; } /* '' */
#wp-admin-bar-comments .ab-icon:before,.icon-comment:before { content: '\e718'; } /* '' */
.menu-icon-comments .wp-menu-image:before, .icon-chat:before { content: '\e720'; } /* '' */
.menu-icon-page .wp-menu-image:before,.icon-docs:before { content: '\e736'; } /* '' */
.icon-basket:before { content: '\e73d'; } /* '' */
.icon-logout:before { content: '\e741'; } /* '' */
#wp-admin-bar-updates .ab-icon:before, .icon-arrows-cw:before { content: '\e760'; } /* '' */
.icon-progress-3:before { content: '\e76b'; } /* '' */
.menu-icon-settings .wp-menu-image:before,.icon-equalizer:before { content: '\e795'; } /* '' */
.icon-upload-cloud:before { content: '\f0ee'; } /* '' */
.menu-icon-support_doc .wp-menu-image:before,.icon-doc-alt:before { content: '\f0f6'; } /* '' */
.menu-icon-appearance .wp-menu-image:before,.icon-desktop:before { content: '\f108'; } /* '' */
.icon-videocam:before { content: '🎥'; } /* '\1f3a5' */
.icon-video:before { content: '🎬'; } /* '\1f3ac' */
.menu-icon-users .wp-menu-image:before,.icon-user-pair:before { content: '👫'; } /* '\1f46b' */
.icon-monitor:before { content: '💻'; } /* '\1f4bb' */
.icon-camera-1:before { content: '\e800'; } /* '' */
.icon-camera:before { content: '📷'; } /* '\1f4f7' */
.icon-search:before { content: '🔍'; } /* '\1f50d' */
.menu-icon-links .wp-menu-image:before,.icon-link-1:before { content: '\e801'; } /* '' */
.menu-icon-links .wp-menu-image:before,.icon-link:before { content: '🔗'; } /* '\1f517' */
.menu-icon-tools .wp-menu-image:before,.icon-wrench:before { content: '🔧'; } /* '\1f527' */

/* ARROWS */
#adminmenu a.menu-top, #adminmenu .wp-submenu-head {font-weight: normal;line-height: 24px;}
#adminmenu .wp-menu-arrow div {height:18px;width:18px;}
#adminmenu .wp-not-current-submenu .wp-menu-arrow div {width:18px;}
#adminmenu li.wp-not-current-submenu .wp-menu-arrow {height:34px;}
#adminmenu .wp-menu-arrow div {left:-3px;top:9px;}
#adminmenu .wp-not-current-submenu .wp-menu-arrow div {top:7px;}
.wp-menu-arrow {height:34px;}


/* Menu Image Icon */
#adminmenu div.wp-menu-image {width: 32px;height: 32px;margin:1px 0;}

.icon16.icon-dashboard, .menu-icon-dashboard div.wp-menu-image, .icon16.icon-post, .menu-icon-post div.wp-menu-image, .icon16.icon-media, .menu-icon-media div.wp-menu-image, .icon16.icon-links, .menu-icon-links div.wp-menu-image, .icon16.icon-page, .menu-icon-page div.wp-menu-image, .icon16.icon-comments, .menu-icon-comments div.wp-menu-image, .icon16.icon-appearance, .menu-icon-appearance div.wp-menu-image, .icon16.icon-plugins, .menu-icon-plugins div.wp-menu-image, .icon16.icon-users, .menu-icon-users div.wp-menu-image, .icon16.icon-tools, .menu-icon-tools div.wp-menu-image, .icon16.icon-settings, .menu-icon-settings div.wp-menu-image, .icon16.icon-site, .menu-icon-site div.wp-menu-image, .icon16.icon-generic, .menu-icon-generic div.wp-menu-image,.wp-menu-image,.ab-icon
{background-image:none!important;background:none!important;}

.wp-menu-image img {display:none;}
a:hover .wp-menu-image {color:#ccc;text-shadow:none;}

#adminmenu a:hover,#adminmenu li.menu-top>a:focus,#adminmenu .wp-submenu a:hover,#the-comment-list .comment a:hover,#rightnow a:hover,#media-upload a.del-link:hover,div.dashboard-widget-submit input:hover,.subsubsub a:hover,.subsubsub a.current:hover,.ui-tabs-nav a:hover,.plugins .inactive a:hover,#all-plugins-table .plugins .inactive a:hover,#search-plugins-table .plugins .inactive a:hover{color:#ccc}

#adminmenu li.menu-top:hover,#adminmenu li.opensub>a.menu-top,#adminmenu li>a.menu-top:focus{background-color:#40545a;color:#ccc;text-shadow:inherit;}

#adminmenu ul.wp-submenu li a:hover {color:#333;background:#ccc;}

#adminmenu div.wp-menu-name {padding: 5px 10px;}

/* Page Heading Icons */
#icon-edit,.icon32 {display:none;}

/* Titles */
#wpbody-content h2 {border-bottom: 1px solid #eee;margin: 0px 0 10px;}

/* Main Text Color */
body, #wpbody, .form-table .pre, .ui-autocomplete li a,.wrap h2 {color: #111;}
.wp-admin a { color:#227c99; }
#wpbody a:hover { color:#000; }

/* Update badges */
#adminmenu .awaiting-mod, #adminmenu span.update-plugins, #sidemenu li a span.update-plugins {margin-top:3px;line-height: 16px;padding-top:1px;right:0;margin-right:10px;}

/* Extend Width of Left Nav */
#adminmenu .wp-submenu {left:166px;}
#adminmenuback, #adminmenuwrap, #adminmenu, #adminmenu .wp-submenu {width:166px;background:#40545a;}
#wpcontent, #wpfooter {margin-left: 185px;}

/* No Arrow */
#adminmenu li.wp-not-current-submenu .wp-menu-arrow,#adminmenu li.wp-not-current-submenu .wp-menu-arrow div,#adminmenu li.current .wp-menu-arrow, #adminmenu li.wp-menu-open .wp-menu-arrow {display: none!important;}

/* Current Menu Item */
#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu, #adminmenu li.current a.menu-top, #adminmenu .wp-has-current-submenu .wp-submenu .wp-submenu-head {text-shadow: 0 -1px 0 #333;color: #fff;border-top-color: #444;border-bottom-color: #222;background:#333;}

/* Update Badge */
#adminmenu .awaiting-mod, #adminmenu .update-plugins, #sidemenu a .update-plugins, #rightnow .reallynow {background-color:#e66f00;}
#adminmenu .awaiting-mod, #adminmenu .update-plugins, #sidemenu a .update-plugins, #rightnow .reallynow {background-color: #464646;color: #fff;-webkit-box-shadow: rgba(0,0,0,0.5) 0 1px 0;box-shadow: rgba(0,0,0,0.5) 0 1px 0;}

/* Nav Items */
#adminmenu a.menu-top, #adminmenu .wp-submenu .wp-submenu-head {border-top-color: #586e75;border-bottom-color: #073642;background: #40545a;color: #ccc/*rgb(200, 219, 248)*/;text-shadow: 0px 1px 0px #000;font-size: 12px;}

#adminmenu a.menu-top:hover,#adminmenu div.wp-menu-name:hover {border-top-color: #555;border-bottom-color: #333;background: #444!important;color:#ccc;text-shadow:0px 1px 0px #000;background-image: url(http://subtlepatterns.subtlepatterns.netdna-cdn.com/patterns/debut_dark.png);
}

/* Separator */
#adminmenu div.separator {border-color: #073642;}

#adminmenu li.wp-menu-separator {background: #073642;border-color: #073642;border-bottom: 1px solid #333;}

#adminmenu .wp-submenu, #adminmenu li.wp-menu-open {background:#fff;}

#adminmenuback, #adminmenuwrap, #adminmenu, #adminmenu .wp-submenu {border-right:0;}

/* Collapse Menu */
#collapse-menu {border-top-color:#586e75;}

#adminmenushadow {
position: absolute;
top: 0;
right: -3px;
bottom: 0;
width: 1px;
z-index: 20;
box-shadow: -3px 0px 1px #000;
z-index: 999;
background: none;
background-image: none!important;
display:none;
}

/* Submenu height */
#adminmenu .wp-submenu a {height:24px;}
.wp-submenu.wp-submenu-wrap {
border-right: 1px solid #ddd!important;
width: 164px!important;
border-radius: 0!important;
}



/* Button */
.wp-core-ui .button {
display: inline-block;
text-align: center;
color: #555;
font-size: 11px;
font-weight: bold;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
-webkit-transition: all 0.218s;
-moz-transition: all 0.218s;
-ms-transition: all 0.218s;
-o-transition: all 0.218s;
transition: all 0.218s;
border: 1px solid gainsboro  ;
border: 1px solid rgba(0, 0, 0, 0.1)  ;
background-color: whiteSmoke  ;
background-image: -webkit-gradient(linear,left top,left bottom,from(#f5f5f5  ),to(#f1f1f1  ));
background-image: -webkit-linear-gradient(top,#f5f5f5  ,#f1f1f1  );
background-image: -moz-linear-gradient(top,#f5f5f5  ,#f1f1f1  );
background-image: -ms-linear-gradient(top,#f5f5f5  ,#f1f1f1  );
background-image: -o-linear-gradient(top,#f5f5f5  ,#f1f1f1  );
background-image: linear-gradient(top,#f5f5f5  ,#f1f1f1  );
-webkit-user-select: none;
-moz-user-select: none;
user-select: none;
cursor: pointer;
}

.wp-core-ui .button.hover, .wp-core-ui .button:hover, .wp-core-ui .button.focus, .wp-core-ui .button:focus {
border: 1px solid #C6C6C6;
color: #333  ;
-webkit-transition: all 0.0s;
-moz-transition: all 0.0s;
-ms-transition: all 0.0s;
-o-transition: all 0.0s;
transition: all 0.0s;
background-color: #F8F8F8  ;
background-image: -webkit-gradient(linear,left top,left bottom,from(#f8f8f8  ),to(#f1f1f1  ));
background-image: -webkit-linear-gradient(top,#f8f8f8  ,#f1f1f1  );
background-image: -moz-linear-gradient(top,#f8f8f8  ,#f1f1f1  );
background-image: -ms-linear-gradient(top,#f8f8f8  ,#f1f1f1  );
background-image: -o-linear-gradient(top,#f8f8f8  ,#f1f1f1  );
background-image: linear-gradient(top,#f8f8f8  ,#f1f1f1  );
-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1)  ;
-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.1)  ;
box-shadow: 0 1px 1px rgba(0,0,0,0.1)  ;
}

/* Secondary Button */
.wp-core-ui .button-secondary,
.wp-core-ui .actions .button,
#search-submit.button  {
border: 1px solid transparent;
color: #fff;
font-weight:normal;
text-transform:uppercase;
letter-spacing:0.7px;
text-shadow: 0 1px rgba(0, 0, 0, 0.1)  ;
background-color: #586e75  ;
background-image: -webkit-gradient(linear,left top,left bottom,from(#88959a  ),to(#586e75  ));
background-image: -webkit-linear-gradient(top,#88959a  ,#586e75  );
background-image: -moz-linear-gradient(top,#88959a  ,#586e75  );
background-image: -ms-linear-gradient(top,#88959a  ,#586e75  );
background-image: -o-linear-gradient(top,#88959a  ,#586e75  );
background-image: linear-gradient(top,#88959a  ,#586e75  );
}

.wp-core-ui .button-secondary.hover,.wp-core-ui .button-secondary:hover, .wp-core-ui .button-secondary.focus,.wp-core-ui .button-secondary:focus,
.wp-core-ui .actions .button.hover,.wp-core-ui .actions .button:hover,.wp-core-ui .actions .button.focus,.wp-core-ui .actions .button:focus,
#search-submit.button.hover,#search-submit.button:hover,#search-submit.button.focus,#search-submit.button:focus {
border: 1px solid #005368;
color: white  ;
text-shadow: 0 1px rgba(0, 0, 0, 0.3)  ;
background-color: #586e75  ;
background-image: -webkit-gradient(linear,left top,left bottom,from(#88959a  ),to(#586e75  ));
background-image: -webkit-linear-gradient(top,#88959a  ,#586e75  );
background-image: -moz-linear-gradient(top,#88959a  ,#586e75  );
background-image: -ms-linear-gradient(top,#88959a  ,#586e75  );
background-image: -o-linear-gradient(top,#88959a  ,#586e75  );
background-image: linear-gradient(top,#88959a  ,#586e75  );
-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.2)  ;
-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.2)  ;
-ms-box-shadow: 0 1px 1px rgba(0,0,0,0.2)  ;
-o-box-shadow: 0 1px 1px rgba(0,0,0,0.2)  ;
box-shadow: 0 1px 1px rgba(0,0,0,0.2)  ;
text-decoration: none;
-webkit-transition: all 0.0s;
}

.wp-core-ui .button-primary {
border: 1px solid #0088ab;
color: white  ;
text-shadow: 0 1px rgba(0, 0, 0, 0.1)  ;
text-transform: uppercase;
background-color: #249CBB  ;
background-image: -webkit-gradient(linear,left top,left bottom,from(#249cbb  ),to(#1d85a0  ));
background-image: -webkit-linear-gradient(top,#249cbb  ,#1d85a0  );
background-image: -moz-linear-gradient(top,#249cbb  ,#1d85a0  );
background-image: -ms-linear-gradient(top,#249cbb  ,#1d85a0  );
background-image: -o-linear-gradient(top,#249cbb  ,#1d85a0  );
background-image: linear-gradient(top,#249cbb  ,#1d85a0  );
}

.wp-core-ui .button-primary.hover, .wp-core-ui .button-primary:hover, .wp-core-ui .button-primary.focus, .wp-core-ui .button-primary:focus {
border: 1px solid #08708a;
color: white  ;
text-shadow: 0 1px rgba(0, 0, 0, 0.3)  ;
background-color: #19768D  ;
background-image: -webkit-gradient(linear,left top,left bottom,from(#249cbb  ),to(#19768d  ));
background-image: -webkit-linear-gradient(top,#249cbb  ,#19768d  );
background-image: -moz-linear-gradient(top,#249cbb  ,#19768d  );
background-image: -ms-linear-gradient(top,#249cbb  ,#19768d  );
background-image: -o-linear-gradient(top,#249cbb  ,#19768d  );
background-image: linear-gradient(top,#249cbb  ,#19768d  );
}




/* WP-ADMIN BAR */
.wp-admin #wpadminbar {background-image:none;
background-color: #073642;
background-image: -moz-linear-gradient(top, #073642, #002b36);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#073642), to(#002b36));
background-image: -webkit-linear-gradient(top, #073642, #002b36);
background-image: -o-linear-gradient(top, #073642, #002b36);
background-image: linear-gradient(to bottom, #073642, #002b36);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff073642', endColorstr='#ff002b36', GradientType=0);
border-color: #002b36 #002b36 #333;
border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
height:36px;}

#wpadminbar * {line-height:36px;color: #fff;}

#wpwrap {margin-top:8px;}

#wpadminbar .quicklinks a, #wpadminbar .quicklinks .ab-empty-item, #wpadminbar .shortlink-input {
height: 36px;}

#wpadminbar .ab-icon {margin-top:2px;}


.wp-submenu.wp-submenu-wrap {background:#eee!important;}

#wpadminbar .quicklinks > ul > li {
border-right: 1px solid rgba(0, 0, 0, 0.1);
}

#wpadminbar .quicklinks > ul > li > a, #wpadminbar .quicklinks > ul > li > .ab-empty-item {
border-right: 1px solid rgba(0, 0, 0, 0);
}

#screen-meta-links {
margin: 0 35px 0 0;
}

#adminmenu .wp-submenu a {
height: 22px;
padding-top:6px;
}

.wp-admin #wpadminbar {box-shadow: 3px 0px 3px 0px black;}

.wrap {margin: 20px 35px 0 15px;}

#wp-admin-bar-my-account a {
background-color: #586e75;
background-image: -webkit-gradient(linear,left top,left bottom,from(#88959a  ),to(#586e75  ));
background-image: -webkit-linear-gradient(top,#88959a  ,#586e75  );
background-image: -moz-linear-gradient(top,#88959a  ,#586e75  );
background-image: -ms-linear-gradient(top,#88959a  ,#586e75  );
background-image: -o-linear-gradient(top,#88959a  ,#586e75  );
background-image: linear-gradient(top,#88959a  ,#586e75  );
}

#wp-admin-bar-user-actions a {background:none;}

#wpadminbar .quicklinks .ab-top-secondary > li {
border-left: 1px solid rgba(0, 0, 0, 0.1);}

#wpadminbar .quicklinks .ab-top-secondary > li > a, #wpadminbar .quicklinks .ab-top-secondary > li > .ab-empty-item {border-left:0;}