@charset "UTF-8";

@font-face {
  font-family: 'FontAwesome';
  src: url('font/font-awesome/fontawesome-webfont.eot?v=3.0.1');
  src: url('font/font-awesome/fontawesome-webfont.eot?#iefix&v=3.0.1') format('embedded-opentype'),
    url('font/font-awesome/fontawesome-webfont.woff?v=3.0.1') format('woff'),
    url('font/font-awesome/fontawesome-webfont.ttf?v=3.0.1') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Fontello';
  src: url('font/fontello/fontello.eot?v=3.0.1');
  src: url('font/fontello/fontello.eot?#iefix&v=3.0.1') format('embedded-opentype'),
    url('font/fontello/fontello.woff?v=3.0.1') format('woff'),
    url('font/fontello/fontello.ttf?v=3.0.1') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/*  Font Awesome styles
    ------------------------------------------------------- */
[class^="icon-"]:before,
[class*=" icon-"]:before,
.wp-menu-image:before,
.ab-icon:before {
  font-family: 'FontAwesome';
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  width: 16px;
  height: auto;
  line-height: 24px;
  vertical-align: baseline;
  background-image: none;
  background-position: 0% 0%;
  background-repeat: repeat;
  margin-top: 4px;
  margin-left: 8px;
  margin-right:15px;
  font-size: 16px;
  opacity:0.8;
  speak:none;
  text-align:center;
}

/*  Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
    readers do not read off random characters that represent icons */
.icon-glass:before                { content: "\f000"; }
.icon-music:before                { content: "\f001"; }
.icon-search:before               { content: "\f002"; }
.icon-envelope:before             { content: "\f003"; }
.icon-heart:before                { content: "\f004"; }
.icon-star:before                 { content: "\f005"; }
.icon-star-empty:before           { content: "\f006"; }
.icon-user:before                 { content: "\f007"; }
.icon-film:before                 { content: "\f008"; }
.icon-th-large:before             { content: "\f009"; }
.icon-th:before                   { content: "\f00a"; }
.icon-th-list:before              { content: "\f00b"; }
.icon-ok:before                   { content: "\f00c"; }
.icon-remove:before               { content: "\f00d"; }
.icon-zoom-in:before              { content: "\f00e"; }

.icon-zoom-out:before             { content: "\f010"; }
.icon-off:before                  { content: "\f011"; }
.icon-signal:before               { content: "\f012"; }
.icon-cog:before                  { content: "\f013"; }
.icon-trash:before                { content: "\f014"; }
.icon-home:before                 { content: "\f015"; }
.icon-file:before                 { content: "\f016"; }
.icon-time:before                 { content: "\f017"; }
.icon-road:before                 { content: "\f018"; }
.icon-download-alt:before         { content: "\f019"; }
.icon-download:before             { content: "\f01a"; }
.icon-upload:before               { content: "\f01b"; }
.icon-inbox:before                { content: "\f01c"; }
.icon-play-circle:before          { content: "\f01d"; }
.icon-repeat:before               { content: "\f01e"; }

/* \f020 doesn't work in Safari. all shifted one down */
.icon-refresh:before              { content: "\f021"; }
.icon-list-alt:before             { content: "\f022"; }
.icon-lock:before                 { content: "\f023"; }
.icon-flag:before                 { content: "\f024"; }
.icon-headphones:before           { content: "\f025"; }
.icon-volume-off:before           { content: "\f026"; }
.icon-volume-down:before          { content: "\f027"; }
.icon-volume-up:before            { content: "\f028"; }
.icon-qrcode:before               { content: "\f029"; }
.icon-barcode:before              { content: "\f02a"; }
.icon-tag:before                  { content: "\f02b"; }
.icon-tags:before                 { content: "\f02c"; }
.icon-book:before                 { content: "\f02d"; }
.icon-bookmark:before             { content: "\f02e"; }
.icon-print:before                { content: "\f02f"; }

.icon-camera:before               { content: "\f030"; }
.icon-font:before                 { content: "\f031"; }
.icon-bold:before                 { content: "\f032"; }
.icon-italic:before               { content: "\f033"; }
.icon-text-height:before          { content: "\f034"; }
.icon-text-width:before           { content: "\f035"; }
.icon-align-left:before           { content: "\f036"; }
.icon-align-center:before         { content: "\f037"; }
.icon-align-right:before          { content: "\f038"; }
.icon-align-justify:before        { content: "\f039"; }
.icon-list:before                 { content: "\f03a"; }
.icon-indent-left:before          { content: "\f03b"; }
.icon-indent-right:before         { content: "\f03c"; }
.icon-facetime-video:before       { content: "\f03d"; }
.icon-picture:before              { content: "\f03e"; }

.icon-pencil:before               { content: "\f040"; }
.icon-map-marker:before           { content: "\f041"; }
.icon-adjust:before               { content: "\f042"; }
.icon-tint:before                 { content: "\f043"; }
.icon-edit:before                 { content: "\f044"; }
.icon-share:before                { content: "\f045"; }
.icon-check:before                { content: "\f046"; }
.icon-move:before                 { content: "\f047"; }
.icon-step-backward:before        { content: "\f048"; }
.icon-fast-backward:before        { content: "\f049"; }
.icon-backward:before             { content: "\f04a"; }
.icon-play:before                 { content: "\f04b"; }
.icon-pause:before                { content: "\f04c"; }
.icon-stop:before                 { content: "\f04d"; }
.icon-forward:before              { content: "\f04e"; }

.icon-fast-forward:before         { content: "\f050"; }
.icon-step-forward:before         { content: "\f051"; }
.icon-eject:before                { content: "\f052"; }
.icon-chevron-left:before         { content: "\f053"; }
.icon-chevron-right:before        { content: "\f054"; }
.icon-plus-sign:before            { content: "\f055"; }
.icon-minus-sign:before           { content: "\f056"; }
.icon-remove-sign:before          { content: "\f057"; }
.icon-ok-sign:before              { content: "\f058"; }
.icon-question-sign:before        { content: "\f059"; }
.icon-info-sign:before            { content: "\f05a"; }
.icon-screenshot:before           { content: "\f05b"; }
.icon-remove-circle:before        { content: "\f05c"; }
.icon-ok-circle:before            { content: "\f05d"; }
.icon-ban-circle:before           { content: "\f05e"; }

.icon-arrow-left:before           { content: "\f060"; }
.icon-arrow-right:before          { content: "\f061"; }
.icon-arrow-up:before             { content: "\f062"; }
.icon-arrow-down:before           { content: "\f063"; }
.icon-share-alt:before            { content: "\f064"; }
.icon-resize-full:before          { content: "\f065"; }
.icon-resize-small:before         { content: "\f066"; }
.icon-plus:before                 { content: "\f067"; }
.icon-minus:before                { content: "\f068"; }
.icon-asterisk:before             { content: "\f069"; }
.icon-exclamation-sign:before     { content: "\f06a"; }
.icon-gift:before                 { content: "\f06b"; }
.icon-leaf:before                 { content: "\f06c"; }
.icon-fire:before                 { content: "\f06d"; }
.icon-eye-open:before             { content: "\f06e"; }

.icon-eye-close:before            { content: "\f070"; }
.icon-warning-sign:before         { content: "\f071"; }
.icon-plane:before                { content: "\f072"; }
.icon-calendar:before             { content: "\f073"; }
.icon-random:before               { content: "\f074"; }
.icon-comment:before              { content: "\f075"; }
.icon-magnet:before               { content: "\f076"; }
.icon-chevron-up:before           { content: "\f077"; }
.icon-chevron-down:before         { content: "\f078"; }
.icon-retweet:before              { content: "\f079"; }
.icon-shopping-cart:before        { content: "\f07a"; }
.icon-folder-close:before         { content: "\f07b"; }
.icon-folder-open:before          { content: "\f07c"; }
.icon-resize-vertical:before      { content: "\f07d"; }
.icon-resize-horizontal:before    { content: "\f07e"; }

.icon-bar-chart:before            { content: "\f080"; }
.icon-twitter-sign:before         { content: "\f081"; }
.icon-facebook-sign:before        { content: "\f082"; }
.icon-camera-retro:before         { content: "\f083"; }
.icon-key:before                  { content: "\f084"; }
.icon-cogs:before                 { content: "\f085"; }
.icon-comments:before             { content: "\f086"; }
.icon-thumbs-up:before            { content: "\f087"; }
.icon-thumbs-down:before          { content: "\f088"; }
.icon-star-half:before            { content: "\f089"; }
.icon-heart-empty:before          { content: "\f08a"; }
.icon-signout:before              { content: "\f08b"; }
.icon-linkedin-sign:before        { content: "\f08c"; }
.icon-pushpin:before              { content: "\f08d"; }
.icon-external-link:before        { content: "\f08e"; }

.icon-signin:before               { content: "\f090"; }
.icon-trophy:before               { content: "\f091"; }
.icon-github-sign:before          { content: "\f092"; }
.icon-upload-alt:before           { content: "\f093"; }
.icon-lemon:before                { content: "\f094"; }
.icon-phone:before                { content: "\f095"; }
.icon-check-empty:before          { content: "\f096"; }
.icon-bookmark-empty:before       { content: "\f097"; }
.icon-phone-sign:before           { content: "\f098"; }
.icon-twitter:before              { content: "\f099"; }
.icon-facebook:before             { content: "\f09a"; }
.icon-github:before               { content: "\f09b"; }
.icon-unlock:before               { content: "\f09c"; }
.icon-credit-card:before          { content: "\f09d"; }
.icon-rss:before                  { content: "\f09e"; }

.icon-hdd:before                  { content: "\f0a0"; }
.icon-bullhorn:before             { content: "\f0a1"; }
.icon-bell:before                 { content: "\f0a2"; }
.icon-certificate:before          { content: "\f0a3"; }
.icon-hand-right:before           { content: "\f0a4"; }
.icon-hand-left:before            { content: "\f0a5"; }
.icon-hand-up:before              { content: "\f0a6"; }
.icon-hand-down:before            { content: "\f0a7"; }
.icon-circle-arrow-left:before    { content: "\f0a8"; }
.icon-circle-arrow-right:before   { content: "\f0a9"; }
.icon-circle-arrow-up:before      { content: "\f0aa"; }
.icon-circle-arrow-down:before    { content: "\f0ab"; }
.icon-globe:before                { content: "\f0ac"; }
.icon-wrench:before               { content: "\f0ad"; }
.icon-tasks:before                { content: "\f0ae"; }

.icon-filter:before               { content: "\f0b0"; }
.icon-briefcase:before            { content: "\f0b1"; }
.icon-fullscreen:before           { content: "\f0b2"; }

.icon-group:before                { content: "\f0c0"; }
.icon-link:before                 { content: "\f0c1"; }
.icon-cloud:before                { content: "\f0c2"; }
.icon-beaker:before               { content: "\f0c3"; }
.icon-cut:before                  { content: "\f0c4"; }
.icon-copy:before                 { content: "\f0c5"; }
.icon-paper-clip:before           { content: "\f0c6"; }
.icon-save:before                 { content: "\f0c7"; }
.icon-sign-blank:before           { content: "\f0c8"; }
.icon-reorder:before              { content: "\f0c9"; }
.icon-list-ul:before              { content: "\f0ca"; }
.icon-list-ol:before              { content: "\f0cb"; }
.icon-strikethrough:before        { content: "\f0cc"; }
.icon-underline:before            { content: "\f0cd"; }
.icon-table:before                { content: "\f0ce"; }

.icon-magic:before                { content: "\f0d0"; }
.icon-truck:before                { content: "\f0d1"; }
.icon-pinterest:before            { content: "\f0d2"; }
.icon-pinterest-sign:before       { content: "\f0d3"; }
.icon-google-plus-sign:before     { content: "\f0d4"; }
.icon-google-plus:before          { content: "\f0d5"; }
.icon-money:before                { content: "\f0d6"; }
.icon-caret-down:before           { content: "\f0d7"; }
.icon-caret-up:before             { content: "\f0d8"; }
.icon-caret-left:before           { content: "\f0d9"; }
.icon-caret-right:before          { content: "\f0da"; }
.icon-columns:before              { content: "\f0db"; }
.icon-sort:before                 { content: "\f0dc"; }
.icon-sort-down:before            { content: "\f0dd"; }
.icon-sort-up:before              { content: "\f0de"; }

.icon-envelope-alt:before         { content: "\f0e0"; }
.icon-linkedin:before             { content: "\f0e1"; }
.icon-undo:before                 { content: "\f0e2"; }
.icon-legal:before                { content: "\f0e3"; }
.icon-dashboard:before            { content: "\f0e4"; }
.icon-comment-alt:before          { content: "\f0e5"; }
.icon-comments-alt:before         { content: "\f0e6"; }
.icon-bolt:before                 { content: "\f0e7"; }
.icon-sitemap:before              { content: "\f0e8"; }
.icon-umbrella:before             { content: "\f0e9"; }
.icon-paste:before                { content: "\f0ea"; }
.icon-lightbulb:before            { content: "\f0eb"; }
.icon-exchange:before             { content: "\f0ec"; }
.icon-cloud-download:before       { content: "\f0ed"; }
.icon-cloud-upload:before         { content: "\f0ee"; }

.icon-user-md:before              { content: "\f0f0"; }
.icon-stethoscope:before          { content: "\f0f1"; }
.icon-suitcase:before             { content: "\f0f2"; }
.icon-bell-alt:before             { content: "\f0f3"; }
.icon-coffee:before               { content: "\f0f4"; }
.icon-food:before                 { content: "\f0f5"; }
.icon-file-alt:before             { content: "\f0f6"; }
.icon-building:before             { content: "\f0f7"; }
.icon-hospital:before             { content: "\f0f8"; }
.icon-ambulance:before            { content: "\f0f9"; }
.icon-medkit:before               { content: "\f0fa"; }
.icon-fighter-jet:before          { content: "\f0fb"; }
.icon-beer:before                 { content: "\f0fc"; }
.icon-h-sign:before               { content: "\f0fd"; }
.icon-plus-sign-alt:before        { content: "\f0fe"; }

.icon-double-angle-left:before    { content: "\f100"; }
.icon-double-angle-right:before   { content: "\f101"; }
.icon-double-angle-up:before      { content: "\f102"; }
.icon-double-angle-down:before    { content: "\f103"; }
.icon-angle-left:before           { content: "\f104"; }
.icon-angle-right:before          { content: "\f105"; }
.icon-angle-up:before             { content: "\f106"; }
.icon-angle-down:before           { content: "\f107"; }
.icon-desktop:before              { content: "\f108"; }
.icon-laptop:before               { content: "\f109"; }
.icon-tablet:before               { content: "\f10a"; }
.icon-mobile-phone:before         { content: "\f10b"; }
.icon-circle-blank:before         { content: "\f10c"; }
.icon-quote-left:before           { content: "\f10d"; }
.icon-quote-right:before          { content: "\f10e"; }

.icon-spinner:before              { content: "\f110"; }
.icon-circle:before               { content: "\f111"; }
.icon-reply:before                { content: "\f112"; }
.icon-github-alt:before           { content: "\f113"; }
.icon-folder-close-alt:before     { content: "\f114"; }
.icon-folder-open-alt:before      { content: "\f115"; }

li.menupop.hover .ab-icon:before {color:#40545a;text-shadow:none;}

.ab-icon:before {margin-left:0;margin-top:0;opacity: 1;text-shadow:0px 1px 0px rgb(0,0,0,1);}
#wp-admin-bar-wp-logo .ab-icon:before {  font-family: 'Fontello';font-size:24px; }
#wpadminbar #wp-admin-bar-new-content .ab-icon {margin-top:2px;}

#wp-admin-bar-new-content .ab-icon:before,.icon-plus:before { content: '\f067'; }

#wp-admin-bar-wp-logo .ab-icon:before,.icon-wordpress:before { content: '\77'; }

.menu-icon-dashboard .wp-menu-image:before,.icon-home:before { content: '\f015'; }

.menu-icon-plugins .wp-menu-image:before,.icon-split:before { content: '\f0e7'; }

.menu-icon-media .wp-menu-image:before { content: '\f030'; }

.icon-music:before { content: '\f001'; }

.wp-menu-image:before,.icon-cog:before { content: '\f013'; }

.icon-edit:before { content: '\f044'; }

.icon-pencil:before { content: '\f040'; }

.menu-icon-post .wp-menu-image:before,.icon-feather:before { content: '\f08d'; }

.icon-tag:before { content: '\f02b'; }

.icon-tags:before { content: '\f02c'; }

.icon-camera-alt:before { content: '\f030'; }

#wp-admin-bar-comments .ab-icon:before,.icon-comment:before { content: '\f075'; }

.menu-icon-comments .wp-menu-image:before, .icon-chat:before { content: '\f075'; }

.menu-icon-page .wp-menu-image:before,.icon-docs:before { content: '\f02d'; }

.icon-basket:before { content: '\f07a'; }

.icon-logout:before { content: '\f08b'; }

#wp-admin-bar-updates .ab-icon:before, .icon-arrows-cw:before { content: '\f021'; }

.icon-progress-3:before { content: '\e76b'; }

.menu-icon-settings .wp-menu-image:before,.icon-equalizer:before { content: '\e795'; }

.icon-upload-cloud:before { content: '\f0ee'; }

.menu-icon-support_doc .wp-menu-image:before,.icon-doc-alt:before { content: '\f0f6'; }

.menu-icon-appearance .wp-menu-image:before,.icon-desktop:before { content: '\f108'; }

.icon-videocam:before { content: '🎥'; }

.icon-video:before { content: '🎬'; }

.menu-icon-users .wp-menu-image:before,.icon-user-pair:before { content: '\f0c0'; }

.icon-monitor:before { content: '💻'; }

.icon-camera-1:before { content: '\e800'; }

.icon-camera:before { content: '📷'; }

.icon-search:before { content: '🔍'; }

.menu-icon-links .wp-menu-image:before,.icon-link-1:before { content: '\e801'; }

.menu-icon-links .wp-menu-image:before,.icon-link:before { content: '🔗'; }

.menu-icon-tools .wp-menu-image:before,.icon-wrench:before { content: '🔧'; }

/* ARROWS */
#adminmenu a.menu-top, #adminmenu .wp-submenu-head {font-weight: normal;line-height: 24px;}
#adminmenu .wp-menu-arrow div {height:18px;width:18px;}
#adminmenu .wp-not-current-submenu .wp-menu-arrow div {width:18px;}
#adminmenu li.wp-not-current-submenu .wp-menu-arrow {height:34px;}
#adminmenu .wp-menu-arrow div {left:-3px;top:9px;}
#adminmenu .wp-not-current-submenu .wp-menu-arrow div {top:7px;}
.wp-menu-arrow {height:34px;}


/* Menu Image Icon */
#adminmenu div.wp-menu-image {width: 32px;height: 32px;margin:1px 0;}

.icon16.icon-dashboard, .menu-icon-dashboard div.wp-menu-image, .icon16.icon-post, .menu-icon-post div.wp-menu-image, .icon16.icon-media, .menu-icon-media div.wp-menu-image, .icon16.icon-links, .menu-icon-links div.wp-menu-image, .icon16.icon-page, .menu-icon-page div.wp-menu-image, .icon16.icon-comments, .menu-icon-comments div.wp-menu-image, .icon16.icon-appearance, .menu-icon-appearance div.wp-menu-image, .icon16.icon-plugins, .menu-icon-plugins div.wp-menu-image, .icon16.icon-users, .menu-icon-users div.wp-menu-image, .icon16.icon-tools, .menu-icon-tools div.wp-menu-image, .icon16.icon-settings, .menu-icon-settings div.wp-menu-image, .icon16.icon-site, .menu-icon-site div.wp-menu-image, .icon16.icon-generic, .menu-icon-generic div.wp-menu-image,.wp-menu-image,.ab-icon
{background-image:none!important;background:none!important;}

.wp-menu-image img {display:none;}
a:hover .wp-menu-image {color:#ccc;text-shadow:none;}

#adminmenu a:hover,#adminmenu li.menu-top>a:focus,#adminmenu .wp-submenu a:hover,#the-comment-list .comment a:hover,#rightnow a:hover,#media-upload a.del-link:hover,div.dashboard-widget-submit input:hover,.subsubsub a:hover,.subsubsub a.current:hover,.ui-tabs-nav a:hover,.plugins .inactive a:hover,#all-plugins-table .plugins .inactive a:hover,#search-plugins-table .plugins .inactive a:hover{color:#ccc}

#adminmenu li.menu-top:hover,#adminmenu li.opensub>a.menu-top,#adminmenu li>a.menu-top:focus{background-color:#40545a;color:#ccc;text-shadow:inherit;}

#adminmenu ul.wp-submenu li a:hover {color:#333;background:#ccc;}

#adminmenu div.wp-menu-name {padding: 5px 10px 5px 20px;}

/* Page Heading Icons */
#icon-edit,.icon32 {display:none;}

/* Titles */
#wpbody-content h2 {border-bottom: 1px solid #eee;margin: 0px 0 10px;}

/* Main Text Color */
body, #wpbody, .form-table .pre, .ui-autocomplete li a,.wrap h2 {color: #111;}
.wp-admin a { color:#227c99; }
#wpbody a:hover { color:#000; }

/* Update badges */
#adminmenu .awaiting-mod, #adminmenu span.update-plugins, #sidemenu li a span.update-plugins {margin-top:3px;line-height: 16px;padding-top:1px;right:0;margin-right:10px;}

/* Extend Width of Left Nav */
#adminmenu .wp-submenu {left:166px;}
#adminmenuback, #adminmenuwrap, #adminmenu, #adminmenu .wp-submenu {width:166px;background:#40545a;}
#wpcontent, #wpfooter {margin-left: 185px;}

/* No Arrow */
#adminmenu li.wp-not-current-submenu .wp-menu-arrow,#adminmenu li.wp-not-current-submenu .wp-menu-arrow div,#adminmenu li.current .wp-menu-arrow, #adminmenu li.wp-menu-open .wp-menu-arrow {display: none!important;}

/* Current Menu Item */
#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu, #adminmenu li.current a.menu-top, #adminmenu .wp-has-current-submenu .wp-submenu .wp-submenu-head {text-shadow: 0 -1px 0 #333;color: #fff;border-top-color: #444;border-bottom-color: #222;background:#333;}

/* Update Badge */
#adminmenu .awaiting-mod, #adminmenu .update-plugins, #sidemenu a .update-plugins, #rightnow .reallynow {background-color:#e66f00;}
#adminmenu .awaiting-mod, #adminmenu .update-plugins, #sidemenu a .update-plugins, #rightnow .reallynow {background-color: #464646;color: #fff;-webkit-box-shadow: rgba(0,0,0,0.5) 0 1px 0;box-shadow: rgba(0,0,0,0.5) 0 1px 0;}

/* Nav Items */
#adminmenu a.menu-top, #adminmenu .wp-submenu .wp-submenu-head {border-top-color: #586e75;border-bottom-color: #073642;background: #40545a;color: #ccc/*rgb(200, 219, 248)*/;text-shadow: 0px 1px 0px #000;font-size: 12px;}

#adminmenu a.menu-top:hover,#adminmenu div.wp-menu-name:hover {border-top-color: #555;border-bottom-color: #333;background: #444!important;color:#ccc;text-shadow:0px 1px 0px #000;background-image: url(http://subtlepatterns.subtlepatterns.netdna-cdn.com/patterns/debut_dark.png);
}

/* Separator */
#adminmenu div.separator {border-color: #073642;}

#adminmenu li.wp-menu-separator {background: #073642;border-color: #073642;border-bottom: 1px solid #333;}

#adminmenu .wp-submenu, #adminmenu li.wp-menu-open {background:#fff;}

#adminmenuback, #adminmenuwrap, #adminmenu, #adminmenu .wp-submenu {border-right:0;}

/* Collapse Menu */
#collapse-menu {border-top-color:#586e75;}

#adminmenushadow {
position: absolute;
top: 0;
right: -3px;
bottom: 0;
width: 1px;
z-index: 20;
box-shadow: -3px 0px 1px #000;
z-index: 999;
background: none;
background-image: none!important;
display:none;
}

/* Submenu height */
#adminmenu .wp-submenu a {height:24px;}
.wp-submenu.wp-submenu-wrap {
border-right: 1px solid #ddd!important;
width: 164px!important;
border-radius: 0!important;
}



/* Button */
.wp-core-ui .button {
display: inline-block;
text-align: center;
color: #555;
font-size: 11px;
font-weight: bold;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
-webkit-transition: all 0.218s;
-moz-transition: all 0.218s;
-ms-transition: all 0.218s;
-o-transition: all 0.218s;
transition: all 0.218s;
border: 1px solid gainsboro  ;
border: 1px solid rgba(0, 0, 0, 0.1)  ;
background-color: whiteSmoke  ;
background-image: -webkit-gradient(linear,left top,left bottom,from(#f5f5f5  ),to(#f1f1f1  ));
background-image: -webkit-linear-gradient(top,#f5f5f5  ,#f1f1f1  );
background-image: -moz-linear-gradient(top,#f5f5f5  ,#f1f1f1  );
background-image: -ms-linear-gradient(top,#f5f5f5  ,#f1f1f1  );
background-image: -o-linear-gradient(top,#f5f5f5  ,#f1f1f1  );
background-image: linear-gradient(top,#f5f5f5  ,#f1f1f1  );
-webkit-user-select: none;
-moz-user-select: none;
user-select: none;
cursor: pointer;
}

.wp-core-ui .button.hover, .wp-core-ui .button:hover, .wp-core-ui .button.focus, .wp-core-ui .button:focus {
border: 1px solid #C6C6C6;
color: #333  ;
-webkit-transition: all 0.0s;
-moz-transition: all 0.0s;
-ms-transition: all 0.0s;
-o-transition: all 0.0s;
transition: all 0.0s;
background-color: #F8F8F8  ;
background-image: -webkit-gradient(linear,left top,left bottom,from(#f8f8f8  ),to(#f1f1f1  ));
background-image: -webkit-linear-gradient(top,#f8f8f8  ,#f1f1f1  );
background-image: -moz-linear-gradient(top,#f8f8f8  ,#f1f1f1  );
background-image: -ms-linear-gradient(top,#f8f8f8  ,#f1f1f1  );
background-image: -o-linear-gradient(top,#f8f8f8  ,#f1f1f1  );
background-image: linear-gradient(top,#f8f8f8  ,#f1f1f1  );
-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1)  ;
-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.1)  ;
box-shadow: 0 1px 1px rgba(0,0,0,0.1)  ;
}

/* Secondary Button */
.wp-core-ui .button-secondary,
.wp-core-ui .actions .button,
#search-submit.button  {
border: 1px solid transparent;
color: #fff;
font-weight:normal;
text-transform:uppercase;
letter-spacing:0.7px;
text-shadow: 0 1px rgba(0, 0, 0, 0.1)  ;
background-color: #586e75  ;
background-image: -webkit-gradient(linear,left top,left bottom,from(#88959a  ),to(#586e75  ));
background-image: -webkit-linear-gradient(top,#88959a  ,#586e75  );
background-image: -moz-linear-gradient(top,#88959a  ,#586e75  );
background-image: -ms-linear-gradient(top,#88959a  ,#586e75  );
background-image: -o-linear-gradient(top,#88959a  ,#586e75  );
background-image: linear-gradient(top,#88959a  ,#586e75  );
}

.wp-core-ui .button-secondary.hover,.wp-core-ui .button-secondary:hover, .wp-core-ui .button-secondary.focus,.wp-core-ui .button-secondary:focus,
.wp-core-ui .actions .button.hover,.wp-core-ui .actions .button:hover,.wp-core-ui .actions .button.focus,.wp-core-ui .actions .button:focus,
#search-submit.button.hover,#search-submit.button:hover,#search-submit.button.focus,#search-submit.button:focus {
border: 1px solid #005368;
color: white  ;
text-shadow: 0 1px rgba(0, 0, 0, 0.3)  ;
background-color: #586e75  ;
background-image: -webkit-gradient(linear,left top,left bottom,from(#88959a  ),to(#586e75  ));
background-image: -webkit-linear-gradient(top,#88959a  ,#586e75  );
background-image: -moz-linear-gradient(top,#88959a  ,#586e75  );
background-image: -ms-linear-gradient(top,#88959a  ,#586e75  );
background-image: -o-linear-gradient(top,#88959a  ,#586e75  );
background-image: linear-gradient(top,#88959a  ,#586e75  );
-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.2)  ;
-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.2)  ;
-ms-box-shadow: 0 1px 1px rgba(0,0,0,0.2)  ;
-o-box-shadow: 0 1px 1px rgba(0,0,0,0.2)  ;
box-shadow: 0 1px 1px rgba(0,0,0,0.2)  ;
text-decoration: none;
-webkit-transition: all 0.0s;
}

.wp-core-ui .button-primary {
border: 1px solid #0088ab;
color: white  ;
text-shadow: 0 1px rgba(0, 0, 0, 0.1)  ;
text-transform: uppercase;
background-color: #249CBB  ;
background-image: -webkit-gradient(linear,left top,left bottom,from(#249cbb  ),to(#1d85a0  ));
background-image: -webkit-linear-gradient(top,#249cbb  ,#1d85a0  );
background-image: -moz-linear-gradient(top,#249cbb  ,#1d85a0  );
background-image: -ms-linear-gradient(top,#249cbb  ,#1d85a0  );
background-image: -o-linear-gradient(top,#249cbb  ,#1d85a0  );
background-image: linear-gradient(top,#249cbb  ,#1d85a0  );
}

.wp-core-ui .button-primary.hover, .wp-core-ui .button-primary:hover, .wp-core-ui .button-primary.focus, .wp-core-ui .button-primary:focus {
border: 1px solid #08708a;
color: white  ;
text-shadow: 0 1px rgba(0, 0, 0, 0.3)  ;
background-color: #19768D  ;
background-image: -webkit-gradient(linear,left top,left bottom,from(#249cbb  ),to(#19768d  ));
background-image: -webkit-linear-gradient(top,#249cbb  ,#19768d  );
background-image: -moz-linear-gradient(top,#249cbb  ,#19768d  );
background-image: -ms-linear-gradient(top,#249cbb  ,#19768d  );
background-image: -o-linear-gradient(top,#249cbb  ,#19768d  );
background-image: linear-gradient(top,#249cbb  ,#19768d  );
}




/* WP-ADMIN BAR */
.wp-admin #wpadminbar {background-image:none;
background-color: #073642;
background-image: -moz-linear-gradient(top, #073642, #002b36);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#073642), to(#002b36));
background-image: -webkit-linear-gradient(top, #073642, #002b36);
background-image: -o-linear-gradient(top, #073642, #002b36);
background-image: linear-gradient(to bottom, #073642, #002b36);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff073642', endColorstr='#ff002b36', GradientType=0);
border-color: #002b36 #002b36 #333;
border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
height:36px;}

#wpadminbar * {line-height:36px;color: #fff;}

#wpwrap {margin-top:8px;}

#wpadminbar .quicklinks a, #wpadminbar .quicklinks .ab-empty-item, #wpadminbar .shortlink-input {
height: 36px;}

#wpadminbar .ab-icon {margin-top:2px;}


.wp-submenu.wp-submenu-wrap {background:#eee!important;}

#wpadminbar .quicklinks > ul > li {
border-right: 1px solid rgba(0, 0, 0, 0.1);
}

#wpadminbar .quicklinks > ul > li > a, #wpadminbar .quicklinks > ul > li > .ab-empty-item {
border-right: 1px solid rgba(0, 0, 0, 0);
}

#screen-meta-links {
margin: 0 35px 0 0;
}

#adminmenu .wp-submenu a {
height: 22px;
padding-top:6px;
}

.wp-admin #wpadminbar {box-shadow: 3px 0px 3px 0px black;}

.wrap {margin: 20px 35px 0 15px;}

#wp-admin-bar-my-account a {
background-color: #586e75;
background-image: -webkit-gradient(linear,left top,left bottom,from(#88959a  ),to(#586e75  ));
background-image: -webkit-linear-gradient(top,#88959a  ,#586e75  );
background-image: -moz-linear-gradient(top,#88959a  ,#586e75  );
background-image: -ms-linear-gradient(top,#88959a  ,#586e75  );
background-image: -o-linear-gradient(top,#88959a  ,#586e75  );
background-image: linear-gradient(top,#88959a  ,#586e75  );
}

#wp-admin-bar-user-actions a {background:none;}

#wpadminbar .quicklinks .ab-top-secondary > li {
border-left: 1px solid rgba(0, 0, 0, 0.1);}

#wpadminbar .quicklinks .ab-top-secondary > li > a, #wpadminbar .quicklinks .ab-top-secondary > li > .ab-empty-item {border-left:0;}