/*!
 * WordStrap Child Theme | ws.child-theme.less
 * Use this file to add custom styles to this particular website's child theme.
 */
 
/* ==========================================================================
   Base
   ========================================================================== */




/* =============================================================================
   Header
   ========================================================================== */
#banner {
border-top: 7px solid #005e5b;
border-bottom: 3px solid #00443f;
}

#endvr_social_media-banner {
	float:right;
	height:30px;
	display:block;
	width:100%;
}

#endvr_social_media-banner .endvr_social {
	float:right;
	display:inline-block;
	width:30px;
	clear:none;
}

.nav-social {
float:right;	
margin:0;
padding:0;
}

.nav-social a {
background:@iconFontColor;
.border-radius(20px);
position:relative;
margin:4px;
padding:4px;
width:34px;
height:34px;
display:inline-block;
.box-shadow(~"inset 0 2px 0 0 rgba(255,255,255,.25), 0 0 2px 0px rgba(0,0,0,.25)");
}

.nav-social a span {
font-size:24px;
line-height:24px;
padding:4px 5px;
margin:0;
color:#FFF;	
vertical-align:middle;
position:relative;
top:-10px;
}

.nav-social a.rss span {	
font-size:18px;
left:3px;
}

.nav-social a:hover {
text-decoration:none;	
background:#fff;
border:2px solid @iconFontColor;
padding:2px;
}

.nav-social a:hover span {
color:@iconFontColor;	
}

.mobile-quicklinks .btn-navbar {
width:15px;
}

/* =============================================================================
   Navbar
   ========================================================================== */
nav .menu-home a span {
display:none;
}
nav .menu-home a:before {
content: "\f015";
font-family:'FontAwesome';
margin-right:5px;
}

i[class^="ss-"] { font-style:normal; }

/* =============================================================================
   Feature
   ========================================================================== */
      
.feature {
border-bottom:3px solid #69bfbc;
}

.home .feature {
 display:none;
}

.feature-link {
font-family:@h1FontFamily;
text-align:right;
float:right;
min-height:@h1LineHeight;	
font-size: @baseFontSize + 8;
line-height:@h1LineHeight;
}

.feature-menu {
font-family:@h1FontFamily;
text-align:right;
float:right;
min-height:@h1LineHeight;	
font-size: @baseFontSize + 8;
line-height:@h1LineHeight;
}

.feature-search {
	padding-top:0;
	padding-bottom:5px;
}
      
/* ==========================================================================
   Content
   ========================================================================== */

#main figure {
	background:#fff;
	margin-top:20px;
	margin-bottom:20px;
}

.lead {
font-size:24px;	
}

/* ==========================================================================
   Primary Content
   ========================================================================== */





/* ==========================================================================
   Sidebar
   ========================================================================== */

.endvr_news {
	list-style:none;
	margin-left:0;
}

.endvr_contact_connect_postal_address {
	display:block;
	margin-left:20px;
}

#endvr-widget-missionary-details-contact .widget-inner div {
	margin-bottom:15px;
}


/* ==========================================================================
   Posts
   ========================================================================== */



.wpcf7-form-control-wrap .wpcf7-textarea {
width:96%;
}



/* ==========================================================================
   Grids
   ========================================================================== */

.gi-anchor.well {
position:relative;

}

.gi-anchor.well:hover .gi-date-bar {
left:0px;
right:0px;
bottom:0px;
}

.gi-details {
display:block;
margin:10px 0;	
line-height:14px;
}

.gi-speaker {
font-style:italic;	
}
   
.gi-date-bar {
display:block;
overflow:hidden;
text-transform:uppercase;
font-weight:bold;
font-style:normal;
width:auto; 
background:#00948d;
color:#fff;
display:block;
font-size:14px;
position:absolute;
left:1px;
right:1px;
bottom:1px;
}

.gi-date {
float:right;
text-align:right;
font-size:22px;
padding:4px 15px;	
}

.gi-tagline, .gi-tagline li {
list-style:none;	
}

.gi-title {
margin-top:10px;	
}
   
/* ==========================================================================
   Widgets
   ========================================================================== */ 
 
/* CONNECTIONS */

.endvr_social, .endvr_contact { clear:both; line-height:24px; padding:5px 0; }

.endvr_social span { text-transform:lowercase; font-style:italic; margin-left:5px; }
.endvr_social span:before {content: '( ';}
.endvr_social span:after {content: ' )';}

.endvr_social i { background-image:url(../img/social_media_icons.png); display:block; float:left; width:24px; height:24px; margin:0 10px 0 0; }
.endvr_social.connect_amazon i { background-position:0 0; }
.endvr_social.connect_delicious i { background-position:0 -24px; }
.endvr_social.connect_deviantart i { background-position:0 -48px; }
.endvr_social.connect_digg i { background-position:0 -72px; }
.endvr_social.connect_dribbble i { background-position:0 -96px; }
.endvr_social.connect_ebay i { background-position:0 -120px; }
.endvr_social.connect_email i { background-position:0 -144px; }
.endvr_social.connect_facebook i { background-position:0 -168px; }
.endvr_social.connect_feedburner i { background-position:0 -192px; }
.endvr_social.connect_flickr i { background-position:0 -216px; }
.endvr_social.connect_forrst i { background-position:0 -240px; }
.endvr_social.connect_foursquare i { background-position:0 -264px; }
.endvr_social.connect_github i { background-position:0 -288px; }
.endvr_social.connect_google i { background-position:0 -312px; }
.endvr_social.connect_instagram i { background-position:0 -336px; }
.endvr_social.connect_linkedin i { background-position:0 -360px; }
.endvr_social.connect_myspace i { background-position:0 -384px; }
.endvr_social.connect_paypal i { background-position:0 -408px; }
.endvr_social.connect_picassa i { background-position:0 -432px; }
.endvr_social.connect_reddit i { background-position:0 -456px; }
.endvr_social.connect_feed i { background-position:0 -480px; }
.endvr_social.connect_scribd i { background-position:0 -504px; }
.endvr_social.connect_squidoo i { background-position:0 -528px; }
.endvr_social.connect_technorati i { background-position:0 -552px; }
.endvr_social.connect_tumblr i { background-position:0 -576px; }
.endvr_social.connect_twitter i { background-position:0 -600px; }
.endvr_social.connect_vimeo i { background-position:0 -624px; }
.endvr_social.connect_xbox i { background-position:0 -648px; }
.endvr_social.connect_yahoo i { background-position:0 -672px; }
.endvr_social.connect_youtube i { background-position:0 -696px; }

.endvr_contact i { background-image:url(../img/meta_icons.png); display:block; float:left; width:24px; height:24px; margin:0 10px 0 -35px; }
.endvr_contact.connect_phone i { background-position:0 0; }
.endvr_contact.connect_fax i { background-position:0 -24px; }
.endvr_contact.connect_postal i { background-position:0 -48px; }
.endvr_contact.connect_email i { background-position:0 -72px; }
.endvr_contact.connect_contact_form i { background-position:0 -96px; }

.endvr_contact { padding-left:35px; }   
   
#endvr-widget-missionary-details-contact .endvr_contact i, #endvr-widget-missionary-news i {
	background-image:none;
	font-size:20px;
}   
   
/* ==========================================================================
   Footer
   ========================================================================== */
#superfooter {
border-top: 7px solid #005e5b;
border-bottom: 3px solid #00443f;
}

#colophon {
border-bottom: 3px solid #00443f;
}

/* ==========================================================================
   Icons
   ========================================================================== */
   
[class^="icon-"].i-circle, [class*=" icon-"].i-circle {
vertical-align:middle;
display:inline-block;
width:28px;
height:28px;
font-size:16px;
text-align:center;
background-color:#fff;
.border-radius(14px);
border:1px solid @iconFontColor;
}

.i-circle:before {
color:@iconFontColor;
padding:6px;
}  

.i-circle.i-invert {
background:@iconFontColor;
border-color:#fff;	
} 

.i-circle.i-invert:before {
color:#fff;	
}

/* ==========================================================================
   Media
   ========================================================================== */
   
.media.video {
width:100%;
height:auto;	
}

.media.doc iframe {
width:100%;
height:700px;	
}

/* ==========================================================================
   Staff
   ========================================================================== */
#endvr-widget-staff-details {
	ul, li { list-style:none; margin-left:0; }
	li { line-height:36px; }
}	

/* ==========================================================================
   Missionaries
   ========================================================================== */
      
.sidebar section.endvr-widget-missionary-photo {
margin-top:40px;	
}

/* ==========================================================================
   Helper Classes
   ========================================================================== */
   
.text-left { text-align:left; }
.text-center { text-align:center; }
.text-right { text-align:right; }   

/* ==========================================================================
   WordPress Generated Classes
   ========================================================================== */





/* ==========================================================================
   Media Queries
   ========================================================================== */
@media (max-width: 979px) {

}   
@media (max-width: 800px) {
.sermon_external_link {top:-5px;float:none;margin-bottom:5px;}
}
@media (min-width: 481px) and (max-width: 767px) {
.gi-heading { float:right; text-align:right; }
.gi-title { font-size:24px; line-height:30px; }
}
@media (max-width: 480px) {
.sermon_external_link .prefix {display:none;}
.feature-menu {
text-align:center;
float:none;
}
}