#icon-edit.icon32.icon32-posts-ministries:before { font-family:'ss-pika' !important; font-size:28px; content: '\1F380'; }
.icon16.icon-ministries:before,#adminmenu .menu-icon-ministries div.wp-menu-image:before { font-family:'ss-pika' !important; font-size:16px; content: '\1F380'; }