/*!
 * WordStrap Child Theme | ws.child-theme.less
 * Use this file to add custom styles to this particular website's child theme.
 */
 
/* ==========================================================================
   Base
   ========================================================================== */
[class*="spanish"] { margin-left:auto; } /* this is a fix for the overzealous [class*="span"] css in bootstrap */

/* =============================================================================
   Header
   ========================================================================== */
#banner {
border-top: 7px solid #005e5b;
border-bottom: 3px solid #00443f;
}

/* =============================================================================
   Navbar
   ========================================================================== */
.navbar-inverse .navbar-search .search-query { background-color:#fff; color:#000; }

/* =============================================================================
   Feature
   ========================================================================== */
      
.feature {
border-bottom:3px solid #69bfbc;
}

.feature-link .breadcrumbs {
font-family:@baseFontFamily;
font-size:@baseFontSize + 2;	
}
      
/* ==========================================================================
   Content
   ========================================================================== */

.lead {
font-size:24px;	
}

/* ==========================================================================
   Primary Content
   ========================================================================== */


/* ==========================================================================
   Sidebar
   ========================================================================== */

.endvr_news {
	list-style:none;
	margin-left:0;
}

.endvr_contact_connect_postal_address {
	display:block;
	margin-left:20px;
}

#endvr-widget-missionary-details-contact .widget-inner div {
	margin-bottom:15px;
}


/* ==========================================================================
   Posts
   ========================================================================== */

.wpcf7-form-control-wrap .wpcf7-textarea {
width:96%;
}

/* ==========================================================================
   Grids
   ========================================================================== */

   
/* ==========================================================================
   Widgets
   ========================================================================== */ 
 
/* CONNECTIONS */

.endvr_social, .endvr_contact { clear:both; line-height:24px; padding:5px 0; }

.endvr_social span { text-transform:lowercase; font-style:italic; margin-left:5px; }
.endvr_social span:before {content: '( ';}
.endvr_social span:after {content: ' )';}

.endvr_social i { background-image:url(../img/social_media_icons.png); display:block; float:left; width:24px; height:24px; margin:0 10px 0 0; }
.endvr_social.connect_amazon i { background-position:0 0; }
.endvr_social.connect_delicious i { background-position:0 -24px; }
.endvr_social.connect_deviantart i { background-position:0 -48px; }
.endvr_social.connect_digg i { background-position:0 -72px; }
.endvr_social.connect_dribbble i { background-position:0 -96px; }
.endvr_social.connect_ebay i { background-position:0 -120px; }
.endvr_social.connect_email i { background-position:0 -144px; }
.endvr_social.connect_facebook i { background-position:0 -168px; }
.endvr_social.connect_feedburner i { background-position:0 -192px; }
.endvr_social.connect_flickr i { background-position:0 -216px; }
.endvr_social.connect_forrst i { background-position:0 -240px; }
.endvr_social.connect_foursquare i { background-position:0 -264px; }
.endvr_social.connect_github i { background-position:0 -288px; }
.endvr_social.connect_google i { background-position:0 -312px; }
.endvr_social.connect_instagram i { background-position:0 -336px; }
.endvr_social.connect_linkedin i { background-position:0 -360px; }
.endvr_social.connect_myspace i { background-position:0 -384px; }
.endvr_social.connect_paypal i { background-position:0 -408px; }
.endvr_social.connect_picassa i { background-position:0 -432px; }
.endvr_social.connect_reddit i { background-position:0 -456px; }
.endvr_social.connect_feed i { background-position:0 -480px; }
.endvr_social.connect_scribd i { background-position:0 -504px; }
.endvr_social.connect_squidoo i { background-position:0 -528px; }
.endvr_social.connect_technorati i { background-position:0 -552px; }
.endvr_social.connect_tumblr i { background-position:0 -576px; }
.endvr_social.connect_twitter i { background-position:0 -600px; }
.endvr_social.connect_vimeo i { background-position:0 -624px; }
.endvr_social.connect_xbox i { background-position:0 -648px; }
.endvr_social.connect_yahoo i { background-position:0 -672px; }
.endvr_social.connect_youtube i { background-position:0 -696px; }

.endvr_contact i { background-image:url(../img/meta_icons.png); display:block; float:left; width:24px; height:24px; margin:0 10px 0 -35px; }
.endvr_contact.connect_phone i { background-position:0 0; }
.endvr_contact.connect_fax i { background-position:0 -24px; }
.endvr_contact.connect_postal i { background-position:0 -48px; }
.endvr_contact.connect_email i { background-position:0 -72px; }
.endvr_contact.connect_contact_form i { background-position:0 -96px; }

.endvr_contact { padding-left:35px; }   
   
#endvr-widget-missionary-details-contact .endvr_contact i, #endvr-widget-missionary-news i {
	background-image:none;
	font-size:20px;
}   

body.directions-map .widget_endvr_gmap, body[class*="sermon"] .widget_endvr_gmap, body.home .widget_endvr_gmap {
	padding-top:10px;
	.gmap { display:none; }
}

body.contact .widget_endvr_contact_info .connect_contact_form { display:none; }
   
/* ==========================================================================
   Footer
   ========================================================================== */
.superfooter {
border-top: 7px solid #005e5b;
border-bottom: 3px solid #00443f;
}

.superfooter section { overflow:hidden; }

.colophon {
border-bottom: 3px solid #00443f;
}

.superfooter .btn, .superfooter .btn:hover, .superfooter .btn i:before {
color:#fff;	
border:none;
}

/* ==========================================================================
   Icons
   ========================================================================== */
   

/* ==========================================================================
   Media
   ========================================================================== */
   

/* ==========================================================================
   Staff
   ========================================================================== */

.endvr-widget-staff-details {
	ul, li { list-style:none; margin-left:0; }
	li { line-height:36px; }
}	

/* ==========================================================================
   Missionaries
   ========================================================================== */
      
.sidebar section.endvr-widget-missionary-photo {
margin-top:40px;	
}

/* ==========================================================================
   Ministries
   ========================================================================== */
.sidebar section.endvr-widget-ministry-events {
margin-top:20px;	
}

/* ==========================================================================
   Sundays
   ========================================================================== */
   
.sidebar section.endvr-widget-sunday-events {
margin-top:30px;	
	.well.well-small { padding-left:15px; padding-right:15px; }
	a.well.well-small:hover { padding-left:14px; padding-right:14px; }
	h3 { margin-top:0; }
	h5 {	margin-bottom:0; }
}

/* ==========================================================================
   Home Page
   ========================================================================== */

body.home {

	.endvr-home-worship-block {	
	padding-top:20px;	
	}

	.endvr-home-sermon-block {
	padding-bottom:30px;	
	}
	
	.span4 .media-frame { 
	  min-height: 20px;
	  background-color: @wellBackground;
	  border: 1px solid darken(@wellBackground, 7%);
	  .border-radius(@baseBorderRadius);
	  .box-shadow(inset 0 1px 1px rgba(0,0,0,.05));
	  width:94%; 
	  padding:2.75%; 
	  height:auto;
	  
	  .resp-video-wrapper { margin-bottom:0; }
	}	
	
	.sdr.header {
	width:94%;
	height:18%;
	padding:3%;	
	}
	
	.sdr.content {
	width:94%;
	height:35%;
	padding:3% 3% 2%;	
	}
	
	.sdi {
	width:auto;
	padding:0;
	margin: 2px 6px auto 0;
	height:50%;	
	font-size:25px;
	
		i:before {
	
		}
	}
	
	.sdt {
	width:auto;
	height:100%;	
	
		h3,h4 {
		padding:0;
		margin:0;
		height:50%;
		line-height:normal;	
		}
	}
	
	.sdr.footer {
	width:100%;
	height:12%;
	padding:10% 0 0;
	
		a {
		width:80%;
		padding-left:10%;
		padding-right:10%;	
		}
	}
}
 

/* ==========================================================================
   Helper Classes
   ========================================================================== */
.heading-underline { 
	border-bottom: 2px solid fadeout(@iconFontColor,90%); 
	margin-bottom:20px; 
	padding-bottom:10px; 
	margin-top:10px; 
}
.heading-highlight { 
	padding:10px; 
	background:fadeout(@linkColor,50%); 
	color:lighten(@linkColor,85%); 
	margin-top:20px;   
	border: 1px solid darken(@wellBackground, 37%);
	.border-radius(@baseBorderRadius);
	.box-shadow(inset 0 1px 1px rgba(0,0,0,.05));
}

/* ==========================================================================
   Media Queries
   ========================================================================== */
@media (max-width: 1199px) {
body.home .endvr-home-worship-block {
	.gi-anchor { min-height: 140px; }
}
body.home .sdr.footer { padding:5% 0 2%; }	
}   
@media (max-width: 979px) {
body.home .endvr-home-worship-block {
	.gi-anchor { min-height: 165px; }
}
body.home .sdt h3 { font-size:16px; }
body.home .sdt h4 { font-size: 14px; }
body.home .sdi { font-size:18px; }
body.home .sdr.footer { padding:0 0 0; }
}   
@media (max-width: 800px) {
/*.sermon_external_link {top:-5px;float:none;margin-bottom:5px;}*/
}
@media (max-width: 767px) {
body.home .endvr-home-worship-block {
	.gi-anchor { min-height: auto; }
}
body.home .sdr.header { padding-bottom:0; }
body.home .sdt h3 { font-size:24px; }
body.home .sdt h4 { font-size: 18px; }	
body.home .sdr.footer { padding:5% 0 0; }
body.home .endvr-home-sermon-block > *, body.home .endvr-home-worship-block > * { width:auto; padding:0 30px; }

}
@media (min-width: 481px) and (max-width: 767px) {
.gi-title { font-size:24px; line-height:30px; }
}
@media (max-width: 480px) {
.sermon_external_link .prefix {display:none;}
.feature-link { text-align:center; float:none; }
}