/* Put your custom CSS in this file. */

@import url('jplayer/jplayer.blue.monday.css');

body, input, textarea {
color: #4c3b2d;
}

/* SECTIONS */

#wrapper {
background:url(img/main-bg.png) 0 0;
}

#main {
background:none;
max-width:940px;
margin:0 auto;
border:none;
}

#top {
background:#763501 url(img/mosaic-tiles.png) 50% 0%;
}

#top {
border-top:7px solid #395556;
border-bottom:3px solid #352314;

}

#bottom {
background:#4f2300 url(img/mosaic.png) 50% 0%;
border-top:3px solid #352314;
border-bottom:7px solid #395556;
padding-bottom:1.7em;
}

/* BRAND */

#branding { 
border:none;
}

#branding #header_content {
padding:15px 0 0px;
}

#branding .social-media {
margin: 0;
position: absolute;
top: 15px;
right:0;
}

#branding .themeblvd-contact-bar li a { 
background-image: url(img/social-media.png);
}

/* ACCESS NAV */

#access {
background:#47260B url(img/mosaic.png) 0 0;
border-bottom:none;
}

#access, ul#primary-menu, ul#primary-menu li, ul#primary-menu .sub-menu, #bottom .copyright {
border-color:#875024;
border-width:2px;
}
#access li {
border-right:none;
}

#access li a {
line-height:30px;
color:#e7efef;
}

#access ul li a {
padding:0 10px;
}

#access ul#primary-menu li.menu-item-last {
border-right:none;
}
#access ul#primary-menu li.menu-item-last a {

}

#access ul#primary-menu li a {
text-transform:uppercase;
font-size:10px;
letter-spacing:1px;
}

#access ul li a:hover {
background-color:#395556;
color:#e7efef;
}

#access ul li.home a {
width:48px;
padding:0;
}

#access li a > .sf-sub-indicator {
top:10px;
}

#access .sf-menu li:hover ul,
#access .sf-menu li.sfHover ul {
top:32px;
}

#access ul li ul.sub-menu {
background:#47260B url(img/mosaic.png) 0 0;
border-top:1px solid #352314;
margin-left:-2px;
}

#access ul#primary-menu li ul.sub-menu li a {
font-size:11px;
padding:6px 10px;
text-transform:none;
letter-spacing:normal;
}

#access .sf-menu ul {
	width: 240px;
}
#access ul.sf-menu li li:hover ul,
#access ul.sf-menu li li.sfHover ul,
#access ul.sf-menu li li li:hover ul,
#access ul.sf-menu li li li.sfHover ul {
	left: 240px; /* Matches previous ul width */
}

#access li.current-menu-item a, #access li.current-menu-parent a.sf-with-ul {
background-color:#352314;
}

/* CONTENT */

#featured {
background:url(img/featured-bg.png) 0 0;
border-bottom:2px dotted #ccc;
}

#featured .featured-entry-title .entry-title, .element-headline h1 {
margin-bottom:0;
}
.featured-entry-title {
width:65%;
float:left;
display:block;
}
#content .element-headline {
padding-bottom:0;
}
.entry-title {
line-height: 16px;
margin-bottom: 0;
}
.entry-title,
.entry-title a,
article .entry-title,
article .entry-title a {
color: #8c3d00;
}

.hentry p a {
border-bottom:1px dotted #ccc;
}

.article-wrap article {
border-bottom-width:2px;
}

#featured .featured-entry-title .tagline {
padding-top:10px;
}

#featured-search {
float:right;
display:block;
width:30%;
position:absolute;
top:-5px;
right:0;
margin:0 20px 0 0;
padding:0;
}

#featured-search fieldset {
background:#f4f8f8;
height:16px;
line-height:16px;
}

#featured-search input[type="submit"] {
margin-top:0;
}

#featured .slider_is_last .secondary-bg,
#featured .has_blog_featured .secondary-bg {
background:#e9f2f2;
}

/* CONTENT GRIDS */

.content-grid-endvr ul, .content-grid-endvr li {
list-style:none;
color:#333;
padding:0;
margin:0;
text-indent:0;
}

.content-grid-tagline {
font-size:12px;
font-style:italic;
color:#444;
}

.content-grid-endvr.grid-staff article {
min-height:245px;
}

.content-grid-endvr.grid-missionary article {
min-height:260px;
}

.content-grid-endvr a:hover article {
background:#fff;
border:1px solid #8c3d00;
border-bottom-width:2px;
}

.content-grid-endvr img {
margin:0 auto;
}



/* SIDEBARS */



/* TYPOGRAPHY */

article,
#respond,
.fixed-sidebar .widget .widget-inner,
.element-content .element-inner,
.element-post_grid .element-inner,
.element-post_list .element-inner,
#content .element-columns .element-inner,
#content .element-post_grid_slider .element-inner,
#content .element-post_list_slider .element-inner,
#content .element-slider-standard .element-inner,
#content .element-slogan .element-inner,
#content .element-tweet .element-inner,
#comments .comment-body {
background-color:#f4f8f8;
border: 1px solid #efefef;
color: #674e38;
}

.pagination a, .pagination a:hover, input[type=submit], input[type=submit]:hover, #branding .header_logo .tb-text-logo, #featured .media-full .slide-description span, #content .media-full .slide-description span, div.pp_default .pp_description, .tb-tabs-framed .tab-content, .tb-tabs-framed .tab-nav ul li.active a, .tb-tabs-open .tab-content, .lead-link,  {
color: #674e38;
}

/* BOTTOM */

#bottom .copyright {
border-top:none;
width:100%;
}

#bottom .copyright p span {
padding:10px 40px;
background:#395556;
border:1px solid #47270e;
width:100%;
color:#e7efef;
}

#bottom .copyright p span a {
color:#eee;
border-bottom:1px dotted #e7efef;
}
#bottom .copyright p span a:hover {
color:#fff;
border-bottom:1px solid #fff;
}

.footer_content {

color:#eee;
}

.footer_content .widget {
padding:10px 20px;
}

.footer_content .widget a, .widget.tb-twitter_widget ul.tweets li.tweet .tweet-wrap .tweet-text a {
color:#c7e2e1;
}
.footer_content .widget a:hover, .widget.tb-twitter_widget ul.tweets li.tweet .tweet-wrap .tweet-text a:hover {
color:#c7e2e1;
text-decoration:underline;
}

.footer_content .widget-title {

padding:5px 9px;
margin:0 0 12px -10px;

}

/* WIDGETS */

.widget, .widget a {
font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

/* CONNECTIONS */

.endvr_social, .endvr_contact { clear:both; line-height:24px; padding:5px 0; }

.endvr_social span { text-transform:lowercase; font-style:italic; margin-left:5px; }
.endvr_social span:before {content: '( ';}
.endvr_social span:after {content: ' )';}

.endvr_social i { background-image:url(img/social_media_icons.png); display:block; float:left; width:24px; height:24px; margin:0 10px 0 0; }
.endvr_social.connect_amazon i { background-position:0 0; }
.endvr_social.connect_delicious i { background-position:0 -24px; }
.endvr_social.connect_deviantart i { background-position:0 -48px; }
.endvr_social.connect_digg i { background-position:0 -72px; }
.endvr_social.connect_dribbble i { background-position:0 -96px; }
.endvr_social.connect_ebay i { background-position:0 -120px; }
.endvr_social.connect_email i { background-position:0 -144px; }
.endvr_social.connect_facebook i { background-position:0 -168px; }
.endvr_social.connect_feedburner i { background-position:0 -192px; }
.endvr_social.connect_flickr i { background-position:0 -216px; }
.endvr_social.connect_forrst i { background-position:0 -240px; }
.endvr_social.connect_foursquare i { background-position:0 -264px; }
.endvr_social.connect_github i { background-position:0 -288px; }
.endvr_social.connect_google i { background-position:0 -312px; }
.endvr_social.connect_instagram i { background-position:0 -336px; }
.endvr_social.connect_linkedin i { background-position:0 -360px; }
.endvr_social.connect_myspace i { background-position:0 -384px; }
.endvr_social.connect_paypal i { background-position:0 -408px; }
.endvr_social.connect_picassa i { background-position:0 -432px; }
.endvr_social.connect_reddit i { background-position:0 -456px; }
.endvr_social.connect_feed i { background-position:0 -480px; }
.endvr_social.connect_scribd i { background-position:0 -504px; }
.endvr_social.connect_squidoo i { background-position:0 -528px; }
.endvr_social.connect_technorati i { background-position:0 -552px; }
.endvr_social.connect_tumblr i { background-position:0 -576px; }
.endvr_social.connect_twitter i { background-position:0 -600px; }
.endvr_social.connect_vimeo i { background-position:0 -624px; }
.endvr_social.connect_xbox i { background-position:0 -648px; }
.endvr_social.connect_yahoo i { background-position:0 -672px; }
.endvr_social.connect_youtube i { background-position:0 -696px; }

.endvr_contact i { background-image:url(img/meta_icons.png); display:block; float:left; width:24px; height:24px; margin:0 10px 0 -35px; }
.endvr_contact.connect_phone i { background-position:0 0; }
.endvr_contact.connect_fax i { background-position:0 -24px; }
.endvr_contact.connect_postal i { background-position:0 -48px; }
.endvr_contact.connect_email i { background-position:0 -72px; }
.endvr_contact.connect_contact_form i { background-position:0 -96px; }

.endvr_contact { padding-left:35px; }

/* SERMONS */

.sermon_external_link {
display:block;
position:relative;
top:-40px;
float:right;
margin:0;
}

.grid_sermon_title {
line-height:14px;
display:block;
}

.grid_sermon_by {
line-height:12px;
margin:5px 0 10px;
display:block;
}

.grid_sermon_date {
text-transform:uppercase;
font-weight:bold;
font-style:normal;
padding:2px 10px;
margin-left:-10px;
width:101%; 
background:#00948d;
color:#fff;
display:block;
font-size:14px;
}

/* MISSIONARIES */

#endvr-widget-missionary-details {

}

/* MISC CLASSES */

.prefix {
text-transform:uppercase;
opacity:0.85;
font-size:12px;
margin-right:5px;
}

.archive_link {
float:right;
text-align:right;
position:absolute;
top:25px;
right:20px;
}

.standard-slider-wrapper .next {
text-indent:-9999px;
}

/* MEDIA QUERIES */

@media (max-width: 1023px) {
#access li a { line-height:30px; }
#access ul li a { font-size: 11px; padding: 0 13px; }
#access li.home a { height:30px; }
#access ul#primary-menu li.menu-item-last a { padding: 0 13px; }
}

@media (max-width: 940px) {
.media.audio { float:none; width:100%; }
.media.video { float:none; width:100%; }
}

@media (max-width: 800px) {
.sermon_external_link {top:-5px;float:none;margin-bottom:5px;}
}

@media (max-width: 480px) {
#access { width:320px; }
#access li { float:left; }
#access ul.custom { float:none; margin:0 auto; width:100%; }
#branding .social-media { display:none; }
.sermon_external_link .prefix {display:none;}
#featured-search {display:none;}
.archive_link {display:none;}
.featured-entry-title {width:100%;}